force-app/main/default/flows/AccountingPiece_Validation_encaissement_composite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_child_to_list</name>
        <label>Add child to list</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ChildsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_Child</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_de_la_date_comptable</name>
        <label>Attribution de la date comptable</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>For_each_Child.accountingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountingDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_fields</name>
        <label>Update fields</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ChildsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildsAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_Child.amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_child_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>cancelledPiece</name>
        <label>Pièce Annulée</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pièce annulée</defaultConnectorLabel>
        <rules>
            <name>pieceNonAnnule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Child.status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annulé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_de_la_date_comptable</targetReference>
            </connector>
            <label>Pièce non annulée</label>
        </rules>
    </decisions>
    <description>Pièce comptable - Validation encaissement composite</description>
    <interviewLabel>AccountingPiece - Annulation encaissement composite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountingPiece - Validation encaissement composite</label>
    <loops>
        <name>For_each_Child</name>
        <label>For each Child</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_ChildPieces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cancelledPiece</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summary2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ChildPieces</name>
        <label>Get ChildPieces</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountingPiece__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Piece</name>
        <label>Get Piece</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ChildPieces</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountingPiece__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Childs</name>
        <label>Update Childs</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ChildsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Piece</name>
        <label>Update Piece</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Update_Childs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>accountingDate__c</field>
            <value>
                <elementReference>AccountingDate</elementReference>
            </value>
        </inputAssignments>
        <object>AccountingPiece__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>704</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_each_Child</targetReference>
        </connector>
        <fields>
            <name>AccountingDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Piece.pieceDate__c</elementReference>
            </defaultValue>
            <fieldText>Date comptable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;La date doit être inférieure à la date du jour!&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AccountingDate &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ChildListTexte</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Liste des sous-encaissements&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChidlList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountingPiece__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_ChildPieces</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, pieceDate__c, amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary2</name>
        <label>Summary2</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Piece</targetReference>
        </connector>
        <fields>
            <name>SummaryTexte2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Récapitulatif&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Dates comptables des pièces : &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!AccountingDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Nombre de lignes : &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ChildsCount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Montant des lignes : &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!ChildsAmount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Piece</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildsAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ChildsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ChildsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingPiece__c</objectType>
    </variables>
    <variables>
        <name>dateEncaissement</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
