force-app/main/default/flows/Affichage_composant_SAV_produit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_NewCaseItemList</name>
        <label>Add to NewCaseItemList</label>
        <locationX>1836</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>NewCaseItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCaseItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_SelectedProductsOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_CaseItem_Values</name>
        <label>Define CaseItem Values</label>
        <locationX>1663</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>NewCaseItem.productOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_SelectedProductsOptions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseItem.interventionDuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_SelectedProductsOptions.interventionDuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseItem.quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseItem.unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_SelectedProductsOptions.unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_NewCaseItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_GenericProductId_GenericProduct</name>
        <label>Define GenericProductId / GenericProduct</label>
        <locationX>746</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>GenericProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.genericProduct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ProductSAV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_GenericProductId_Product</name>
        <label>Define GenericProductId / Product</label>
        <locationX>709</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>GenericProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ProductSAV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Output</name>
        <label>Define Output</label>
        <locationX>1915</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>SelectedProductsOptionsOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedProductsOptions</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_ProductOptionsSAVList</name>
        <label>Check ProductOptionsSAVList</label>
        <locationX>1390</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Define_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_ProductOptionsSAV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductOptionsSAVList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>listProductsOptions</targetReference>
            </connector>
            <label>Has ProductOptionsSAV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProductType</name>
        <label>Check ProductType</label>
        <locationX>570</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>Define_GenericProductId_GenericProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SAV Product</defaultConnectorLabel>
        <rules>
            <name>Is_SAV_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.generic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_GenericProductId_Product</targetReference>
            </connector>
            <label>Is SAV Product</label>
        </rules>
    </decisions>
    <description>Flow pour afficher un écran de sélection de composants SAV disponible pour un produit.
Utilisé par : 
* Case (PNC) - Création des éléments de requête</description>
    <interviewLabel>Affichage composant SAV produit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affichage composants SAV produit</label>
    <loops>
        <name>FE_SelectedProductsOptions</name>
        <label>For Each SelectedProductsOptions</label>
        <locationX>1659</locationX>
        <locationY>213</locationY>
        <collectionReference>selectedProductsOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_CaseItem_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Define_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>443</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ProductType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProductOptionSAV</name>
        <label>Get ProductOptionSAV</label>
        <locationX>1208</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ProductOptionsSAVList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ProductSAV.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>ProductOptionsSAVList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__OptionalSKU__c</queriedFields>
        <queriedFields>interventionDuration__c</queriedFields>
        <queriedFields>unit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ProductSAV</name>
        <label>Get ProductSAV</label>
        <locationX>874</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ProductOptionSAV</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GenericProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>924</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>listProductsOptions</name>
        <label>Ecran Options de produit</label>
        <locationX>1530</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FE_SelectedProductsOptions</targetReference>
        </connector>
        <fields>
            <name>textMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Veuillez sélectionner une ou plusieurs options de produit&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectProductsOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SBQQ__ProductOption__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ProductOptionsSAVList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, SBQQ__OptionalSKU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <elementReference>IsRequired</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Référence, SBQQ__OptionalSKU__c:Action/Composant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearchInput</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:130</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProductsOptions</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetComponentFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GenericProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewCaseItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseItem__c</objectType>
    </variables>
    <variables>
        <name>NewCaseItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseItem__c</objectType>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOptionsSAVList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>selectedProductsOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>SelectedProductsOptionsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
</Flow>
