force-app/main/default/flows/AfterSalesService_Bouton_Decrire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Description</name>
        <label>Assign Description</label>
        <locationX>978</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>finalDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!finalDescription}    * {!actifName} : {!descriptionNCP} -&gt; {!expectedActionsNCP}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewDescriptionSAV</name>
        <label>NewDescriptionSAV</label>
        <locationX>791</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>SAVDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!breakLine} {!finalDescription}---------------------------------------------{!breakLine} {!Get_AfterSalesService.description__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dossier_SAV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stockage_Valeur</name>
        <label>Stockage Valeur</label>
        <locationX>1120</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>descriptionNCP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_Case.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedActionsNCP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_Case.expectedActions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actifName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_Case.Asset.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedActionsNCP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>breakLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Description</targetReference>
        </connector>
    </assignments>
    <description>Flux permettant de récupérer les descriptions et action attendues des NCP afin d&apos;alimenter la description du Dossier SAV</description>
    <formulas>
        <name>breakLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>AfterSalesService - Bouton Décrire (Description) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AfterSalesService - Bouton Décrire (Description)</label>
    <loops>
        <name>FE_Case</name>
        <label>FE Case</label>
        <locationX>778</locationX>
        <locationY>432</locationY>
        <collectionReference>Get_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stockage_Valeur</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewDescriptionSAV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AfterSalesService</name>
        <label>Get DossierSAV</label>
        <locationX>773</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AfterSalesService__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>775</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>afterSalesService__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AfterSalesService.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Clôturé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dossier_SAV</name>
        <label>Update Dossier SAV</label>
        <locationX>787</locationX>
        <locationY>869</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>description__c</field>
            <value>
                <elementReference>SAVDescription</elementReference>
            </value>
        </inputAssignments>
        <object>AfterSalesService__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_AfterSalesService</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SAVDescriptionTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDateTime}
* {!FE_Case.Asset.Name} : {!FE_Case.Description} - {!FE_Case.expectedActions__c}
----------------------------------------------------
{!Get_AfterSalesService.description__c}</text>
    </textTemplates>
    <variables>
        <name>actifName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ancienneDescriptionDossierSAV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>descriptionNCP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expectedActionsNCP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!actifName} : {!descriptionNCP} -&gt; {!expectedActionsNCP}  -------------------------- {!ancienneDescriptionDossierSAV}</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAVDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
