force-app/main/default/flows/AfterSalesService_Assistant_Nouvelle_NCP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_NCP</name>
        <label>Open NCP</label>
        <locationX>1018</locationX>
        <locationY>3344</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>SuccesMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>SuccesMessage.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_CasePNCToUpdateList</name>
        <label>Add to CasePNCToUpdateList</label>
        <locationX>1018</locationX>
        <locationY>2936</locationY>
        <assignmentItems>
            <assignToReference>CasePNCToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_PNC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_PNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CasePNCToUpdateListTmp</name>
        <label>Add to CasePNCToUpdateListTmp</label>
        <locationX>1150</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>CasePNCToUpdateListTmp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WizardCreatePNC.CasePNCInternal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPNCSummaryText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WizardCreatePNC.NewPNCSummaryText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutreNCPInterneScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_AssetList_Chantier</name>
        <label>Define AssetList / Chantier</label>
        <locationX>622</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AssetChantier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChantierId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.proprietaire__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ckeck_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_AssetsList_Filtered</name>
        <label>Define AssetsList Filtered</label>
        <locationX>798</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>AssetsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_AssetList_InstallDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liste_des_actifs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PNC_AfterSalesService</name>
        <label>Update PNC / AfterSalesService</label>
        <locationX>1018</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>FE_PNC.afterSalesService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CasePNCToUpdateList</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_AssetList_InstallDate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter AssetList InstallDate</label>
        <locationX>798</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_AssetList_InstallDate_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AssetsList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_AssetList_InstallDate_0.InstallDate</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Define_AssetsList_Filtered</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Display_InstalledDate</name>
        <label>Check Display InstalledDate</label>
        <locationX>930</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Liste_des_actifs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Display_Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisplayActifInstalle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_AssetList_InstallDate</targetReference>
            </connector>
            <label>Display Installed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_PNC</name>
        <label>Check Other PNC</label>
        <locationX>1150</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>FE_AssetSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoOtherPNC</defaultConnectorLabel>
        <rules>
            <name>CreateOtherPNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonPNCOther.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>WizardCreatePNC</targetReference>
            </connector>
            <label>CreateOtherPNC</label>
        </rules>
    </decisions>
    <decisions>
        <description>Vérifier si il y a des actifs dans le chantier choisi</description>
        <name>Ckeck_Asset</name>
        <label>Ckeck Asset</label>
        <locationX>622</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>DossierSAVScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Asset_List_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AssetChantier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Liste_Actifs_Null</targetReference>
            </connector>
            <label>Asset List Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SAV_Quote</name>
        <label>Has SAV Quote ?</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Define_AssetList_Chantier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_a_SAV_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Devis_SAV.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAV_Nouvelle_NCP</targetReference>
            </connector>
            <label>Has a SAV Quote</label>
        </rules>
    </decisions>
    <description>Quick Action : « Nouvelle NCP » listant l’ensemble des actifs du chantier pour l’ajouter au dossier si celui-ci n’est pas encore devisé.</description>
    <dynamicChoiceSets>
        <name>AssetComponentChoicesList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>assetComponent__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>AfterSalesService - Assistant Nouvelle NCP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AfterSalesService - Assistant Nouvelle NCP</label>
    <loops>
        <name>FE_AssetSelected</name>
        <label>For Each AssetSelected</label>
        <locationX>930</locationX>
        <locationY>1838</locationY>
        <collectionReference>SelectedAssetsList.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WizardCreatePNC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SummaryScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_PNC</name>
        <label>For each PNC</label>
        <locationX>930</locationX>
        <locationY>2720</locationY>
        <collectionReference>CasePNCToUpdateListTmp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_PNC_AfterSalesService</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PNCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SuccesMessage</name>
        <label>SuccesMessage</label>
        <locationX>930</locationX>
        <locationY>3236</locationY>
        <collectionReference>CasePNCToUpdateList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Open_NCP</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AssetCarpentryRT</name>
        <label>Get AssetCarpentryRT</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_dossier_SAV</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carpentry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetChantier</name>
        <label>Get AssetChantier</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Devis_SAV</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chantier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chantier.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssetCarpentryRT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetComponentRT</name>
        <label>Get AssetComponentRT</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssetCarpentryRT</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CasePNCInternalRT</name>
        <label>Get CasePNCInternalRT</label>
        <locationX>930</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_AssetSelected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalProductNonCompliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chantier</name>
        <label>Get Chantier</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssetChantier</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_dossier_SAV.workSite__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chantier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Devis_SAV</name>
        <label>Get Devis SAV</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_SAV_Quote</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>afterSalesService__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_dossier_SAV.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_dossier_SAV</name>
        <label>Get dossier SAV</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chantier</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AfterSalesService__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1238</locationX>
        <locationY>3236</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_PNCs</name>
        <label>Update PNCs</label>
        <locationX>930</locationX>
        <locationY>3128</locationY>
        <connector>
            <targetReference>SuccesMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>CasePNCToUpdateList</inputReference>
    </recordUpdates>
    <screens>
        <name>AutreNCPInterneScreen</name>
        <label>Autre NCP Interne</label>
        <locationX>1150</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Other_PNC</targetReference>
        </connector>
        <fields>
            <name>OtherNCPText</name>
            <fieldText>&lt;p&gt;Autre NCP à déclarer sur l&apos; actif &lt;b&gt;{!FE_AssetSelected.Name}&lt;/b&gt; ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ButtonPNCOther</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Création d&apos;une autre NCP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DossierSAVScreen</name>
        <label>Dossier SAV</label>
        <locationX>930</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Display_InstalledDate</targetReference>
        </connector>
        <fields>
            <name>DisplayActifInstalle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Afficher seulement les actifs installés ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1238</locationX>
        <locationY>3344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Il n&apos;y a aucuns actifs sur le chantier</description>
        <name>Liste_Actifs_Null</name>
        <label>Liste Actifs Null</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>List_Asset_Null</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Aucuns actifs présents!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liste_des_actifs</name>
        <label>Liste des actifs</label>
        <locationX>930</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_CasePNCInternalRT</targetReference>
        </connector>
        <fields>
            <name>SelectedAssetsList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssetsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>productName__c, locationFormula__c, dimensions__c, Status, PurchaseDate, InstallDate, UsageEndDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Actifs à ajouter dans le dossier SAV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearchInput</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SAV_Nouvelle_NCP</name>
        <label>SAV- Nouvelle NCP</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_NewNCP</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Le dossier SAV est devisé, vous ne pouvez pas ajouter une nouvelle NCP !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SummaryScreen</name>
        <label>Récapitulatif</label>
        <locationX>930</locationX>
        <locationY>2612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FE_PNC</targetReference>
        </connector>
        <fields>
            <name>SummaryScreenText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;NCP Interne(s) créée(s) : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!NewPNCSummaryText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AssetComponentRT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>WizardCreatePNC</name>
        <label>Assistant création NCP Interne</label>
        <locationX>1150</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Add_to_CasePNCToUpdateListTmp</targetReference>
        </connector>
        <flowName>Assistant_de_creation_de_NCP_interne</flowName>
        <inputAssignments>
            <name>AssetComponentRTId</name>
            <value>
                <elementReference>Get_AssetComponentRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetRecord</name>
            <value>
                <elementReference>FE_AssetSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseItemIsRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Dossier_SAV</name>
            <value>
                <stringValue>SAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InternalPNCRTID</name>
            <value>
                <elementReference>Get_CasePNCInternalRT.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CaseItemListToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseItem__c</objectType>
    </variables>
    <variables>
        <name>CasePNCInternal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasePNCToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasePNCToUpdateListTmp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ChantierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_AssetList_InstallDate_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewPNCSummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
