force-app/main/default/flows/Assistant_de_creation_de_NCP_interne.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_CaseItemListToCreate</name>
        <label>Add to CaseItemListToCreate</label>
        <locationX>864</locationX>
        <locationY>5858</locationY>
        <assignmentItems>
            <assignToReference>CaseItemListToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_NewCaseItemList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_NewCaseItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NotNullDetectedRequiredOrder</name>
        <label>Assign NotNullDetectedRequiredOrder</label>
        <locationX>908</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.requiredOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseRequiredOrder.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RAZ_CaseItemListToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NotNullDetectedWarranty</name>
        <label>Assign NotNullDetectedWarranty</label>
        <locationX>908</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.detectedWarranty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseDetectedWarranty.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NoneValueRequiredOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NotNullMotif</name>
        <label>Assign NotNullMotif</label>
        <locationX>908</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.motif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseMotif.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NoneValueDetectedWarranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NotNullResponsability</name>
        <label>Assign NotNullResponsability</label>
        <locationX>908</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.responsability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseResponsability.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NoneValueMotif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NullDetectedRequiredOrder</name>
        <label>Assign NullDetectedRequiredOrder</label>
        <locationX>644</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.requiredOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RAZ_CaseItemListToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NullDetectedWarranty</name>
        <label>Assign NullDetectedWarranty</label>
        <locationX>644</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.detectedWarranty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NoneValueRequiredOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NullMotif</name>
        <label>Assign NullMotif</label>
        <locationX>644</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.motif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NoneValueDetectedWarranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NullResponsability</name>
        <label>Assign NullResponsability</label>
        <locationX>644</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.responsability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NoneValueMotif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_ValueAsset</name>
        <label>Assignement_ValueAsset</label>
        <locationX>776</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>AssetRecord.Others__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autres</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NoneValueResponsability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PNC_Object</name>
        <label>Create PNC Object</label>
        <locationX>776</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalPNCRTID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Constat chez client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.Chantier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecord.chantier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.expectedActions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseExpectedActions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.aCloturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PNCStatusChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PNC_Button</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_AssetComponentRTId</name>
        <label>Define AssetComponentRTId</label>
        <locationX>864</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>AssetComponentRTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AssetComponentRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_InternalPNCRTID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_AssetRecord</name>
        <label>Define AssetRecord</label>
        <locationX>864</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AssetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_AssetComponentRTId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_AssetScreenTitle</name>
        <label>Define AssetScreenTitle</label>
        <locationX>864</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>AssetScreenTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetScreenTitle_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NCPInterneScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_CaseProductSAVId</name>
        <label>Define CaseProductSAVId</label>
        <locationX>908</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>CaseProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductSAVList.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset_ProductId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_CaseProductSAVId_0</name>
        <label>Define CaseProductSAVId</label>
        <locationX>644</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>CaseProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecord.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PNC_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_InternalPNCRTID</name>
        <label>Define InternalPNCRTID</label>
        <locationX>864</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>InternalPNCRTID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CaseInternalPNCRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_AssetScreenTitle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_NewPNCSummaryText</name>
        <label>Define NewPNCSummaryText</label>
        <locationX>776</locationX>
        <locationY>5534</locationY>
        <assignmentItems>
            <assignToReference>NewPNCSummaryText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary_NewPNC_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_NewCaseItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_PNC_AssetId</name>
        <label>Define PNC AssetId</label>
        <locationX>644</locationX>
        <locationY>4934</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ChildAsset_With_AssetComponent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_PNC_AssetId_0</name>
        <label>Define PNC AssetId</label>
        <locationX>116</locationX>
        <locationY>5042</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewChildAssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_PNC_Diag</name>
        <label>Define PNC Diag</label>
        <locationX>490</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.diagnosticDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.processingEndDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.aCloturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Diagnostiqué</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PNC_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_PNC_Diag_Finished</name>
        <label>Define PNC Diag/Finished</label>
        <locationX>798</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>CasePNCInternal.ClosedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePNCInternal.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.aCloturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.diagnosticDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clôturé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasePNCInternal.processingEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PNC_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_CaseItem_to_PNC</name>
        <label>Link CaseItem to PNC</label>
        <locationX>864</locationX>
        <locationY>5750</locationY>
        <assignmentItems>
            <assignToReference>FE_NewCaseItemList.case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePNCInternal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CaseItemListToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RAZ_CaseItemListToCreate</name>
        <label>RAZ CaseItemListToCreate</label>
        <locationX>776</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>CaseItemListToCreate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CaseItemListToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ProductId</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Diag</name>
        <choiceText>Diag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diag</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diagnostique</name>
        <choiceText>Diagnostiqué</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diagnostiqué</stringValue>
        </value>
    </choices>
    <choices>
        <name>DiagnostiqueTermine</name>
        <choiceText>Diagnostiqué et terminé</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diagnostiqué et terminé</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nouveau</name>
        <choiceText>Nouveau (Diagnostic)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nouveau</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_AssetComponentRTId</name>
        <label>Check AssetComponentRTId</label>
        <locationX>776</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>Get_AssetComponentRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AssetComponentRTId</defaultConnectorLabel>
        <rules>
            <name>AssetComponentRTId_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetComponentRTId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_InternalPNCRTID</targetReference>
            </connector>
            <label>AssetComponentRTId Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AssetRecord</name>
        <label>Check AssetRecord</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Get_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AssetRecord</defaultConnectorLabel>
        <rules>
            <name>AssetRecord_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_AssetComponentRTId</targetReference>
            </connector>
            <label>AssetRecord Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AssetScreenTitle</name>
        <label>Check AssetScreenTitle</label>
        <locationX>776</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Define_AssetScreenTitle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AssetScreenTitle</defaultConnectorLabel>
        <rules>
            <name>AssetScreenTitle_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetScreenTitle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NCPInterneScreen</targetReference>
            </connector>
            <label>AssetScreenTitle Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CaseItemListToCreate</name>
        <label>Check CaseItemListToCreate</label>
        <locationX>776</locationX>
        <locationY>6050</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_CaseItemListToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseItemListToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CaseItems</targetReference>
            </connector>
            <label>Has CaseItemListToCreate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AssetComponent</name>
        <label>Check if AssetComponent</label>
        <locationX>776</locationX>
        <locationY>4610</locationY>
        <defaultConnector>
            <targetReference>Create_PNC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_AssetComponent_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetComponent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ChildAsset_With_AssetComponent</targetReference>
            </connector>
            <label>Has AssetComponent Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ChildAssetExists</name>
        <label>Check if ChildAssetExists</label>
        <locationX>380</locationX>
        <locationY>4826</locationY>
        <defaultConnector>
            <targetReference>Define_PNC_AssetId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No_ChildAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ChildAsset_With_AssetComponent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ChildAsset</targetReference>
            </connector>
            <label>No ChildAsset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_InternalPNCRTID</name>
        <label>Check InternalPNCRTID</label>
        <locationX>776</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_CaseInternalPNCRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No InternalPNCRTID</defaultConnectorLabel>
        <rules>
            <name>InternalPNCRTID_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalPNCRTID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_AssetScreenTitle</targetReference>
            </connector>
            <label>InternalPNCRTID Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NoneValueDetectedWarranty</name>
        <label>Check NoneValueDetectedWarranty</label>
        <locationX>776</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Assign_NotNullDetectedWarranty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>NoneValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCaseDetectedWarranty.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NullDetectedWarranty</targetReference>
            </connector>
            <label>NoneValueDetectedWarranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NoneValueMotif</name>
        <label>Check NoneValueMotif</label>
        <locationX>776</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Assign_NotNullMotif</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>NoneValueMotif</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCaseMotif.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NullMotif</targetReference>
            </connector>
            <label>NoneValueMotif</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NoneValueRequiredOrder</name>
        <label>Check NoneValueRequiredOrder</label>
        <locationX>776</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Assign_NotNullDetectedRequiredOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>NoneValueRequiredOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCaseRequiredOrder.value</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_NullDetectedRequiredOrder</targetReference>
            </connector>
            <label>NoneValueRequiredOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NoneValueResponsability</name>
        <label>Check NoneValueResponsability</label>
        <locationX>776</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Assign_NotNullResponsability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>NoneValueResponsability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCaseResponsability.value</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_NullResponsability</targetReference>
            </connector>
            <label>NoneValueResponsability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PNC_Button</name>
        <label>Check PNC Button</label>
        <locationX>776</locationX>
        <locationY>4010</locationY>
        <defaultConnector>
            <targetReference>Check_PNC_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>PNCIsDiag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PNCStatusChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Diagnostique</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_PNC_Diag</targetReference>
            </connector>
            <label>PNCIsDiag</label>
        </rules>
        <rules>
            <name>PNCIsFinishedAndDiag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PNCStatusChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DiagnostiqueTermine</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_PNC_Diag_Finished</targetReference>
            </connector>
            <label>PNCIsFinishedAndDiag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PNC_status</name>
        <label>Check PNC status</label>
        <locationX>631</locationX>
        <locationY>4264</locationY>
        <defaultConnector>
            <targetReference>Check_if_AssetComponent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isNotFinished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PNCStatusChoice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DiagnostiqueTermine</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affichage_produits_SAV</targetReference>
            </connector>
            <label>isNotFinished</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProductId</name>
        <label>Check ProductId</label>
        <locationX>776</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Get_All_Products_SAV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecord.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_CaseProductSAVId_0</targetReference>
            </connector>
            <label>Has Product</label>
        </rules>
    </decisions>
    <description>Flow pour afficher un écran de création de NCP Interne depuis un actif.
Utilisé par :
* AfterSalesService - Assistant création dossier SAV
* Asset - Assistant de création de NCP interne
* Rendez-vous - Débriefing</description>
    <dynamicChoiceSets>
        <name>AssetComponentChoicesList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>assetComponent__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseName</name>
        <dataType>String</dataType>
        <expression>{!NewCaseMotif.selectedLabel} &amp; &apos; / &apos; &amp; {!AssetRecord.Name}</expression>
    </formulas>
    <formulas>
        <name>ChildAssetName</name>
        <dataType>String</dataType>
        <expression>{!AssetRecord.Name} &amp; &apos; / &apos; &amp; {!AssetComponent}</expression>
    </formulas>
    <formulas>
        <name>NewPNCClosedDate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL( {!Get_NewPNC.ClosedDate} )),
IF(LEN(TEXT(DAY(DATEVALUE({!Get_NewPNC.ClosedDate}))))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(DAY(DATEVALUE({!Get_NewPNC.ClosedDate})))
&amp;&quot;/&quot;&amp;
IF(LEN(TEXT(MONTH(DATEVALUE({!Get_NewPNC.ClosedDate}))))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(MONTH(DATEVALUE({!Get_NewPNC.ClosedDate})))
&amp;&quot;/&quot;&amp;
TEXT(YEAR(DATEVALUE({!Get_NewPNC.ClosedDate})))
, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewPNCDiagDate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL( {!Get_NewPNC.diagnosticDate__c} )),
IF(LEN(TEXT(DAY({!Get_NewPNC.diagnosticDate__c})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(DAY({!Get_NewPNC.diagnosticDate__c}))
&amp;&quot;/&quot;&amp;
IF(LEN(TEXT(MONTH({!Get_NewPNC.diagnosticDate__c})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(MONTH({!Get_NewPNC.diagnosticDate__c}))
&amp;&quot;/&quot;&amp;
TEXT(YEAR({!Get_NewPNC.diagnosticDate__c}))
, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Assistant de création de NCP interne {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assistant de création de NCP interne</label>
    <loops>
        <name>FE_NewCaseItemList</name>
        <label>For each NewCaseItemList</label>
        <locationX>776</locationX>
        <locationY>5642</locationY>
        <collectionReference>Affichage_produits_SAV.NewCaseItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_CaseItem_to_PNC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_CaseItemListToCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CaseItems</name>
        <label>Create CaseItems</label>
        <locationX>512</locationX>
        <locationY>6158</locationY>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>CaseItemListToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ChildAsset</name>
        <label>Create ChildAsset</label>
        <locationX>116</locationX>
        <locationY>4934</locationY>
        <assignRecordIdToReference>NewChildAssetId</assignRecordIdToReference>
        <connector>
            <targetReference>Define_PNC_AssetId_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AssetRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>AssetRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ChildAssetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others__c</field>
            <value>
                <elementReference>Autres</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>AssetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>AssetRecord.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AssetComponentRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assetComponent__c</field>
            <value>
                <elementReference>AssetComponent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>chantier__c</field>
            <value>
                <elementReference>AssetRecord.chantier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customerOrder__c</field>
            <value>
                <elementReference>AssetRecord.customerOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>orderItem__c</field>
            <value>
                <elementReference>AssetRecord.orderItem__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PNC</name>
        <label>Create PNC</label>
        <locationX>776</locationX>
        <locationY>5318</locationY>
        <connector>
            <targetReference>Get_NewPNC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>CasePNCInternal</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Products_SAV</name>
        <label>Get All Products SAV</label>
        <locationX>908</locationX>
        <locationY>3338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liste_produits_SAV_g_n_rique</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>generic__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>reference__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>SAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>864</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_AssetRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetComponentRT</name>
        <label>Get AssetComponentRT</label>
        <locationX>864</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_AssetComponentRTId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CaseInternalPNCRT</name>
        <label>Get CaseInternalPNCRT</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_InternalPNCRTID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalProductNonCompliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ChildAsset_With_AssetComponent</name>
        <label>Get ChildAsset With AssetComponent</label>
        <locationX>380</locationX>
        <locationY>4718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_ChildAssetExists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>assetComponent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetComponent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NewPNC</name>
        <label>Get NewPNC</label>
        <locationX>776</locationX>
        <locationY>5426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_NewPNCSummaryText</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasePNCInternal.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>776</locationX>
        <locationY>6266</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Asset_ProductId</name>
        <label>Update Asset / ProductId</label>
        <locationX>908</locationX>
        <locationY>3662</locationY>
        <connector>
            <targetReference>Create_PNC_Object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>CaseProductId</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>776</locationX>
        <locationY>6374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liste_produits_SAV_g_n_rique</name>
        <label>Liste produits SAV générique</label>
        <locationX>908</locationX>
        <locationY>3446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Define_CaseProductSAVId</targetReference>
        </connector>
        <fields>
            <name>textMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Veuillez sélectionner le type de produit concerné par la demande SAV&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSAVList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,reference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Products_SAV</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearchInput</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NCPInterneScreen</name>
        <label>NCP Interne</label>
        <locationX>776</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignement_ValueAsset</targetReference>
        </connector>
        <fields>
            <name>AssetSummary</name>
            <fieldText>&lt;p&gt;Actif : {!AssetScreenTitle}&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssetComponent</name>
            <choiceReferences>AssetComponentChoicesList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pièce/Composant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Autres</name>
            <dataType>String</dataType>
            <fieldText>Autres</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AssetComponent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Autres</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Dossier_SAV</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SAV</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewCaseDescription</name>
            <fieldText>Problème Identifié</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewCaseMotif</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>motif__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>InternalPNCRTID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Motif</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewCaseResponsability</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>responsability__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>InternalPNCRTID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Responsabilité</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewCaseDetectedWarranty</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>detectedWarranty__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>InternalPNCRTID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Garantie détectée</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewCaseExpectedActions</name>
            <fieldText>Actions à mener/attendues</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NewCaseRequiredOrder</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>requiredOrder__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>InternalPNCRTID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>(Re)commande</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PNCStatusChoice</name>
            <choiceReferences>Nouveau</choiceReferences>
            <choiceReferences>Diagnostique</choiceReferences>
            <choiceReferences>DiagnostiqueTermine</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Nouveau</defaultSelectedChoiceReference>
            <fieldText>État de la NCP</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_AssetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Affichage_produits_SAV</name>
        <label>Affichage produits SAV</label>
        <locationX>497</locationX>
        <locationY>4367</locationY>
        <connector>
            <targetReference>Check_if_AssetComponent</targetReference>
        </connector>
        <flowName>Affichage_composant_SAV_produit</flowName>
        <inputAssignments>
            <name>AssetComponentFilter</name>
            <value>
                <elementReference>AssetComponent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsRequired</name>
            <value>
                <elementReference>CaseItemIsRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductId</name>
            <value>
                <elementReference>CaseProductId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AssetScreenTitle_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!AssetRecord.Name} / {!AssetRecord.dimensions__c} / {!AssetRecord.locationFormula__c}&amp;nbsp;&lt;/strong&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Summary_NewPNC_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!Get_NewPNC.CaseNumber}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; / {!Get_NewPNC.motif__c} - {!Get_NewPNC.responsability__c} - {!Get_NewPNC.detectedWarranty__c} (&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!NewPNCDiagDate} - {!NewPNCClosedDate}&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <description>Id du recordtype des composant d&apos;actif</description>
        <name>AssetComponentRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetScreenTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseItemIsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseItemListToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseItem__c</objectType>
    </variables>
    <variables>
        <name>CasePNCInternal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dossier_SAV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id du recordtype du PNC</description>
        <name>InternalPNCRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewChildAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPNCSummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
