force-app/main/default/flows/BankAccountVisibility_BeforeTrigger_VR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addToCheck</name>
        <label>addToCheck</label>
        <locationX>138</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>VisibilityToCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>allVisibilitySelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>allVisibilitySelected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_The_Bank_Account_single_Entity</name>
        <label>is The Bank Account single Entity</label>
        <locationX>224</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Is_single_entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bankAccount__r.singleEntity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_linked_visibility</targetReference>
            </connector>
            <label>Is single entity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_overlapping</name>
        <label>Is there an overlapping</label>
        <locationX>446</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>check_all_visibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>There_is_no_overlapping</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.endDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_all_visibility.startDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.endDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_all_visibility.endDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_all_visibility.endDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.startDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_all_visibility</targetReference>
            </connector>
            <label>There is no overlapping</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAnotherVisibilityLinked</name>
        <label>isAnotherVisibilityLinked</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>check_all_visibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>no_other_visibility_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisibilityToCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>no other visibility linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRecordVisibility</name>
        <label>isRecordVisibility</label>
        <locationX>270</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>allVisibilitySelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isNotRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allVisibilitySelected.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToCheck</targetReference>
            </connector>
            <label>isNotRecord</label>
        </rules>
    </decisions>
    <interviewLabel>VR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BankAccountVisibility - Before Trigger - Règles de validations</label>
    <loops>
        <name>allVisibilitySelected</name>
        <label>allVisibilitySelected</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <collectionReference>get_linked_visibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isRecordVisibility</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isAnotherVisibilityLinked</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>check_all_visibility</name>
        <label>check all visibility</label>
        <locationX>270</locationX>
        <locationY>1103</locationY>
        <collectionReference>VisibilityToCheck</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_an_overlapping</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_linked_visibility</name>
        <label>get linked visibility</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>allVisibilitySelected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bankAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bankAccount__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BankAccountVisibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>98</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_The_Bank_Account_single_Entity</targetReference>
        </connector>
        <object>BankAccountVisibility__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VisibilityToCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BankAccountVisibility__c</objectType>
    </variables>
</Flow>
