force-app/main/default/flows/Case_PNC_Creation_elements_requete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_CaseItemListToCreate</name>
        <label>Add to CaseItemListToCreate</label>
        <locationX>1341</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>CaseItemListToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_NewCaseItemList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_NewCaseItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_CaseItem_Values</name>
        <label>Define CaseItem Values</label>
        <locationX>1203</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>FE_NewCaseItemList.case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CaseItemListToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_CaseProductSAVId</name>
        <label>Define CaseProductSAVId</label>
        <locationX>726</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>CaseProductSAVId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductSAVList.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_ProductId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_CaseProductSAVId_0</name>
        <label>Define CaseProductSAVId</label>
        <locationX>731</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>CaseProductSAVId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.ProductId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_lection_Composants_Produits_SAV</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_InterventionCrewSize</name>
        <label>Check Case InterventionCrewSize</label>
        <locationX>1561</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IsNullOrZero</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.interventionCrewSize__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_IntervetionCrewSize</targetReference>
            </connector>
            <label>IsNullOrZero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NewCaseItemList</name>
        <label>Check NewCaseItemList</label>
        <locationX>1084</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Pas_de_produit_SAV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_NewCaseItemList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCaseItemList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_NewCaseItemList</targetReference>
            </connector>
            <label>Has NewCaseItemList</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProductId</name>
        <label>Check ProductId</label>
        <locationX>517</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Get_All_Products_SAV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_CaseProductSAVId_0</targetReference>
            </connector>
            <label>Has Product</label>
        </rules>
    </decisions>
    <description>Case - NCP Interne - Assistant de création des éléments de requêtes</description>
    <interviewLabel>Case (PNC) - Création des éléments de requête {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case (PNC) - Création des éléments de requête</label>
    <loops>
        <name>FE_NewCaseItemList</name>
        <label>For Each NewCaseItemList</label>
        <locationX>1228</locationX>
        <locationY>206</locationY>
        <collectionReference>NewCaseItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_CaseItem_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CaseItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CaseItems</name>
        <label>Create CaseItems</label>
        <locationX>1442</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>Check_Case_InterventionCrewSize</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>CaseItemListToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Products_SAV</name>
        <label>Get All Products SAV</label>
        <locationX>462</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liste_produits_SAV_g_n_rique</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>generic__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>reference__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>SAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>402</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ProductId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_ProductId</name>
        <label>Update Asset / ProductId</label>
        <locationX>957</locationX>
        <locationY>16</locationY>
        <connector>
            <targetReference>S_lection_Composants_Produits_SAV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>CaseProductSAVId</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_IntervetionCrewSize</name>
        <label>Update Case / IntervetionCrewSize</label>
        <locationX>1573</locationX>
        <locationY>391</locationY>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>interventionCrewSize__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_ProductId</name>
        <label>Update Case / ProductId</label>
        <locationX>848</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Update_Asset_ProductId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>CaseProductSAVId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>1314</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liste_produits_SAV_g_n_rique</name>
        <label>Liste produits SAV générique</label>
        <locationX>595</locationX>
        <locationY>15</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Define_CaseProductSAVId</targetReference>
        </connector>
        <fields>
            <name>textMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Veuillez sélectionner le type de produit concerné par la demande SAV&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSAVList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,reference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Products_SAV</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearchInput</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>reference__c:Référence</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pas_de_produit_SAV</name>
        <label>Pas de produit SAV</label>
        <locationX>1095</locationX>
        <locationY>381</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoProductSAVText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;Il n&apos;existe pas de composants SAV pour ce produit.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>S_lection_Composants_Produits_SAV</name>
        <label>Sélection Composants Produits SAV</label>
        <locationX>958</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Check_NewCaseItemList</targetReference>
        </connector>
        <flowName>Affichage_composant_SAV_produit</flowName>
        <inputAssignments>
            <name>IsRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductId</name>
            <value>
                <elementReference>CaseProductSAVId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewCaseItemList</assignToReference>
            <name>NewCaseItemList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CaseItemListToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseItem__c</objectType>
    </variables>
    <variables>
        <name>CaseProductSAVId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseItem__c</objectType>
    </variables>
    <variables>
        <name>NewCaseItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseItem__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
