force-app/main/default/flows/Case_Cloture_automatique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_All_RecordType</name>
        <label>Get All RecordType</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <actionName>IV_FlowINClauseActionClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>RecordType</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>filteringValuesCollection</name>
            <value>
                <elementReference>RecordTypeNameFilters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id, Name, DeveloperName, SobjectType</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>DeveloperName</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RecordTypesList</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>aQualifier</name>
        <label>aQualifier</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>aQualifierRTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>autreDemande</name>
        <label>autreDemande</label>
        <locationX>528</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>autreDemandeRTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_RT_List_Filter</name>
        <label>Create RT List Filter</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeNameFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>aQualifier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeNameFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>autreDemande</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeNameFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>relationClient</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeNameFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>reclamation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reclamation</name>
        <label>reclamation</label>
        <locationX>1056</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>reclamationRTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>relationClient</name>
        <label>relationClient</label>
        <locationX>792</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>relationClientRTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>792</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>For_each_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isAQualifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aQualifier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_each_RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>aQualifier</targetReference>
            </connector>
            <label>aQualifier</label>
        </rules>
        <rules>
            <name>isAutreDemande</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>autreDemande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_each_RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>autreDemande</targetReference>
            </connector>
            <label>autreDemande</label>
        </rules>
        <rules>
            <name>isRelationClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>relationClient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_each_RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>relationClient</targetReference>
            </connector>
            <label>relationClient</label>
        </rules>
        <rules>
            <name>isReclamation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reclamation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_each_RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reclamation</targetReference>
            </connector>
            <label>reclamation</label>
        </rules>
    </decisions>
    <description>Flux exécuté tous les jours à 3h00 pour clôturer les requêtes de plus de 30 jours hors NCP Interne et FNCU.</description>
    <formulas>
        <name>dateFilter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-30</expression>
    </formulas>
    <interviewLabel>Case - Cloture automatique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Batch - Clôture automatique</label>
    <loops>
        <name>For_each_RecordType</name>
        <label>For each RecordType</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>RecordTypesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_RecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dateFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>aQualifierRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>autreDemandeRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reclamationRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relationClientRTId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Clôturé</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_RT_List_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-03</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>aQualifierRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>autreDemandeRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reclamationRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeNameFilters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>relationClientRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
