force-app/main/default/flows/Case_PNC_Facturation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Define_ElemNCPLIst</name>
        <label>Define ElemNCPLIst</label>
        <locationX>1247</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>ElemNCPLIst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_ElemNCP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_ElemNCP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_invoiced_amount_to_demandedAmount</name>
        <label>set invoiced amount to demandedAmount</label>
        <locationX>1009</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>FE_ElemNCP.invoicedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_ElemNCP.demandedAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_ElemNCPLIst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_invoiced_amount_to_proposedAmount</name>
        <label>set invoiced amount to proposedAmount</label>
        <locationX>1168</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>FE_ElemNCP.invoicedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_ElemNCP.proposedAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_ElemNCPLIst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_InvoicedAmount_to_negociatedAmount</name>
        <label>set InvoicedAmount to negociatedAmount</label>
        <locationX>1319</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>FE_ElemNCP.invoicedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_ElemNCP.negociatedAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_ElemNCPLIst</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ElemNCP</name>
        <label>Check ElemNCP</label>
        <locationX>645</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>FE_ElemNCP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With ElemNCP</defaultConnectorLabel>
        <rules>
            <name>No_ElemNCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ElemNCP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoElemNCPScreen</targetReference>
            </connector>
            <label>No ElemNCP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_InvoicedAmount</name>
        <label>Check InvoicedAmount</label>
        <locationX>779</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Define_ElemNCPLIst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>InvoicedAmount_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FE_ElemNCP.invoicedAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckWhichAmount</targetReference>
            </connector>
            <label>InvoicedAmount Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWhichAmount</name>
        <label>CheckWhichAmount</label>
        <locationX>680</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>set_invoiced_amount_to_demandedAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Negociated and Proposed Amout are Null</defaultConnectorLabel>
        <rules>
            <name>negociatedAmount_notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FE_ElemNCP.negociatedAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_InvoicedAmount_to_negociatedAmount</targetReference>
            </connector>
            <label>negociatedAmount notNull</label>
        </rules>
        <rules>
            <name>proposedAmount_notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FE_ElemNCP.negociatedAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FE_ElemNCP.proposedAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_invoiced_amount_to_proposedAmount</targetReference>
            </connector>
            <label>proposedAmount notNull</label>
        </rules>
    </decisions>
    <interviewLabel>Case (PNC) - Facturation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case (PNC) - Facturation</label>
    <loops>
        <name>FE_ElemNCP</name>
        <label>For each ElemNCP</label>
        <locationX>790</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_ElemNCP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_InvoicedAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Facturation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>399</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ElemNCP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ElemNCP</name>
        <label>Get ElemNCP</label>
        <locationX>502</locationX>
        <locationY>618</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ElemNCP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>providerProductNonCompliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderReInvoiceItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1125</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1142</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Update_NCPElem_default_value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>invoicedDate__c</field>
            <value>
                <elementReference>facturationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NCPElem</name>
        <label>Update NCPElem</label>
        <locationX>1496</locationX>
        <locationY>615</locationY>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>ncpElement.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NCPElem_default_value</name>
        <label>Update NCPElem default value</label>
        <locationX>1277</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>Update_NCPElem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>ElemNCPLIst</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1289</locationX>
        <locationY>924</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Facturation</name>
        <label>Facturation</label>
        <locationX>1028</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>facturationDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date de facturation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(253, 0, 0);&quot;&gt;Date de proposition invalide (doit être inférieure ou égale à la date du jour)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!facturationDate} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ncpElement</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ProviderReInvoiceItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,invoicedAmount__c,type__c,description__c,quantity__c,demandedAmount__c,proposedAmount__c,negociatedAmount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ElemNCPLIst</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>invoicedAmount__c:true,quantity__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>Get_ElemNCP</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoElemNCPScreen</name>
        <label>No ElemNCP</label>
        <locationX>647</locationX>
        <locationY>455</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoElemNCPText</name>
            <fieldText>&lt;p&gt;Veuillez ajouter des éléments de refacturation à la requête avant d&apos;effectuer une proposition.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>18</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ElemNCPLIst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderReInvoiceItem__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
