force-app/main/default/flows/Case_Batch_Notif_defaut_de_reponse_NCP_Fournisseur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_D_faut_de_r_ponse_NCP</name>
        <label>Email - Défaut de réponse NCP</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <actionName>Case.Requete_Notification_de_defaut_reponse_PNC_Fournisseur</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Historique_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Define_InvoiceAmount</name>
        <label>Define InvoiceAmount</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>FE_ProviderReInvoiceItem.invoicedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_ProviderReInvoiceItem.demandedAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderReInvoiceItemToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_ProviderReInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_ProviderReInvoiceItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Automatic_Validation_Date</name>
        <label>Check Automatic Validation Date</label>
        <locationX>336</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Greater_than_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.automaticValidationDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProviderReInvoiceItems</targetReference>
            </connector>
            <label>Greater than Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProviderReInvoiceItemToUpdate</name>
        <label>Check ProviderReInvoiceItemToUpdate</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Email_D_faut_de_r_ponse_NCP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_ProviderReInvoiceItemToUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProviderReInvoiceItemToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ProviderReInvoiceItem</targetReference>
            </connector>
            <label>Has ProviderReInvoiceItemToUpdate</label>
        </rules>
    </decisions>
    <description>Case - NCP Fournisseur - Flow pour envoyer l&apos;email de facturation au fournisseur suite à un défaut de réponse.
Flow exécuter tous les jours à 7h afin d&apos;envoyer l&apos;email après la date de validation automatique lorsque la transmission a été effectuée.</description>
    <interviewLabel>Case - Batch - Notif défaut de réponse NCP Fournisseur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Batch - Notif défaut de réponse NCP Fournisseur</label>
    <loops>
        <name>FE_ProviderReInvoiceItem</name>
        <label>For each ProviderReInvoiceItem</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_ProviderReInvoiceItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_InvoiceAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_ProviderReInvoiceItemToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Historique_Email</name>
        <label>Create Historique Email</label>
        <locationX>182</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Update_PNC</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Notification de défaut de réponse d&apos;une NCP Fournisseur</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <stringValue>Notification de défaut de réponse d&apos;une NCP Fournisseur</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.supplierEmail__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ProviderReInvoiceItems</name>
        <label>Get ProviderReInvoiceItems</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_ProviderReInvoiceItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>providerProductNonCompliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProviderReInvoiceItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PNC</name>
        <label>Update PNC</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>invoicedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>processingEndDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>validationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ProviderReInvoiceItem</name>
        <label>Update ProviderReInvoiceItem</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Email_D_faut_de_r_ponse_NCP</targetReference>
        </connector>
        <inputReference>ProviderReInvoiceItemToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Automatic_Validation_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>transmissionFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>automaticValidationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>transmissionDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>supplierEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>invoicedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isLegacy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-14</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProviderReInvoiceItemToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderReInvoiceItem__c</objectType>
    </variables>
</Flow>
