force-app/main/default/flows/Case_PNC_Recommande.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Order</name>
        <label>Open Order</label>
        <locationX>1111</locationX>
        <locationY>893</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OrderToCreate.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignMenuiserie</name>
        <label>assignMenuiserie</label>
        <locationX>620</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.height__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.width__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.leaf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.leaf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.locationPrecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.locationPrecision__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrder</name>
        <label>assignOrder</label>
        <locationX>769</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>OrderToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recommande client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.contactParDefaut__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ShipToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.contactParDefaut__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_la_recommande</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.Order.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.Order.QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRTFournisseur.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.parentOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.shippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.billingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.customerOrder__r.serviceEntity__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isOrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderItem</name>
        <label>assignOrderItem</label>
        <locationX>771</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.QuoteLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.QuoteLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.productType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.productType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignService</name>
        <label>assignService</label>
        <locationX>916</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProviderOrderItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.providerOrderItem__r.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOrderItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isOrderItem</name>
        <label>isOrderItem</label>
        <locationX>761</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>createOrder_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOrderItemonCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.providerOrderItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createOrder</targetReference>
            </connector>
            <label>isOrderItemonCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>isType</name>
        <label>isType</label>
        <locationX>765</locationX>
        <locationY>571</locationY>
        <defaultConnector>
            <targetReference>createOrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isMenuiserie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.providerOrderItem__r.productType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carpentry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMenuiserie</targetReference>
            </connector>
            <label>isMenuiserie</label>
        </rules>
        <rules>
            <name>isService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.providerOrderItem__r.productType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignService</targetReference>
            </connector>
            <label>isService</label>
        </rules>
    </decisions>
    <description>Case - Création d&apos;une commande fournisseur si besoin d&apos;une recommande</description>
    <interviewLabel>Case (NCP) - Recommande {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case (PNC) - Recommande</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOrder</name>
        <label>createOrder</label>
        <locationX>771</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>assignOrderItem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>OrderToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createOrder_0</name>
        <label>createOrder</label>
        <locationX>959</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Open_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>OrderToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createOrderItem</name>
        <label>createOrderItem</label>
        <locationX>774</locationX>
        <locationY>847</locationY>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ProviderOrderItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>528</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRTFournisseur</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRTFournisseur</name>
        <label>getRTFournisseur</label>
        <locationX>647</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProviderOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>774</locationX>
        <locationY>970</locationY>
        <connector>
            <targetReference>Open_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>providerReOrderItem__c</field>
            <value>
                <elementReference>ProviderOrderItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1253</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recommande</name>
        <label>Recommande</label>
        <locationX>410</locationX>
        <locationY>60</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <fields>
            <name>Date_de_la_recommande</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date de la recommande</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La date doit être inférieure à aujourd&apos;hui&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_de_la_recommande} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Recommande</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>ProviderOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
