force-app/main/default/flows/Creation_manuelle_d_un_incontournable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Define_ONC_DevName</name>
        <label>Define ONC DevName</label>
        <locationX>570</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>NCCType_DevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NCCTypeSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ONC_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ONC_Selected</name>
        <label>ONC Selected</label>
        <locationX>713</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>NCCType_DevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ONC_RT.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ONCType_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ONC_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ONCType_RT</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Impossibilite</name>
        <choiceText>Impossibilité</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impossibility</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incontournable</name>
        <choiceText>Incontournable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indispensable</stringValue>
        </value>
    </choices>
    <choices>
        <name>InstanceEnCours</name>
        <choiceText>Instance en cours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instance</stringValue>
        </value>
    </choices>
    <decisions>
        <name>NCCType_defini</name>
        <label>NCCType défini?</label>
        <locationX>381</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Selection_du_type_de_non_conformite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Defined = FALSE</defaultConnectorLabel>
        <rules>
            <name>Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NCCType_DevName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_ONC_RT</targetReference>
            </connector>
            <label>Defined = TRUE</label>
        </rules>
    </decisions>
    <description>Commande client - Assistant de création d&apos;une non-conformité commande</description>
    <dynamicChoiceSets>
        <name>ONCTypeList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>orderNonComplianceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NCCType_DevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ONCType_RT.Id</elementReference>
            </value>
        </filters>
        <object>Referencial__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Création manuelle d&apos;un incontournable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (CustomerOrder) - Création manuelle d&apos;une NCC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NCC_Creation</name>
        <label>NCC Creation</label>
        <locationX>1233</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>endOfFlow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Selected_ONC.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ONCType_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>criticity__c</field>
            <value>
                <elementReference>Get_Selected_ONC.criticity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customerOrder__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>description__c</field>
            <value>
                <elementReference>NCC_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expirationAction__c</field>
            <value>
                <elementReference>Get_Selected_ONC.expirationAction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expirationDate__c</field>
            <value>
                <elementReference>Get_Selected_ONC.expirationDateTemp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>immediateAction__c</field>
            <value>
                <elementReference>Get_Selected_ONC.immediateAction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>responsability__c</field>
            <value>
                <elementReference>Get_Selected_ONC.responsability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>startDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type__c</field>
            <value>
                <elementReference>Get_Selected_ONC.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderNonCompliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ONC_RT</name>
        <label>Get ONC RT</label>
        <locationX>570</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ONC_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NCCType_DevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderNonCompliance__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ONCType_RT</name>
        <label>Get ONCType RT</label>
        <locationX>827</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creation_d_une_NCC_de_type_Incontournable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderNonComplianceType</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referencial__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_ONC</name>
        <label>Get Selected ONC</label>
        <locationX>1066</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NCC_Creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ONCSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referencial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Creation_d_une_NCC_de_type_Incontournable</name>
        <label>Création d&apos;un NCC de type Incontournable</label>
        <locationX>945</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_ONC</targetReference>
        </connector>
        <fields>
            <name>ONCSelected</name>
            <choiceReferences>ONCTypeList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de non-conformité commande</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NCC_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>endOfFlow</name>
        <label>Flux Terminé</label>
        <locationX>1363</locationX>
        <locationY>39</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreationText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(22, 166, 3);&quot;&gt;L&apos;incontournable a bien été créé.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1149</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_du_type_de_non_conformite</name>
        <label>Sélection du type de non-conformité</label>
        <locationX>388</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Define_ONC_DevName</targetReference>
        </connector>
        <fields>
            <name>NCCTypeSelected</name>
            <choiceReferences>Incontournable</choiceReferences>
            <choiceReferences>InstanceEnCours</choiceReferences>
            <choiceReferences>Impossibilite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de non-conformité</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>33</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>NCCType_defini</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NCCType_DevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ONCType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
