force-app/main/default/flows/Devis_CPQ_Assistant_creation_devis_rapide.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_All_RecordType</name>
        <label>Get All RecordType</label>
        <locationX>779</locationX>
        <locationY>692</locationY>
        <actionName>IV_FlowINClauseActionClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>RecordType</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>filteringValuesCollection</name>
            <value>
                <elementReference>RecordTypeNameFilters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id, Name, DeveloperName, SobjectType</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>DeveloperName</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RecordTypesList</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open_Details</name>
        <label>Open Details</label>
        <locationX>1509</locationX>
        <locationY>1183</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>QuoteCPQ.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Edit_Quote</name>
        <label>Open Edit Quote</label>
        <locationX>1397</locationX>
        <locationY>1183</locationY>
        <actionName>c:OpenEditRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>QuoteCPQ.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_FinancingMethodOppId</name>
        <label>Assign FinancingMethodOppId</label>
        <locationX>481</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>OpportunityFMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_referencial.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_referencial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SourceOppId</name>
        <label>Assign SourceOppId</label>
        <locationX>460</locationX>
        <locationY>1153</locationY>
        <assignmentItems>
            <assignToReference>OpportunitySourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_referencial.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_referencial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_FinancingMethodPicklist</name>
        <label>Construct FinancingMethodPicklist</label>
        <locationX>316</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>FinancingMethodPicklistId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_referencial.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancingMethodPicklistName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_referencial.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_OpportunityFM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SourcePicklist</name>
        <label>Construct SourcePicklist</label>
        <locationX>257</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>SourcePicklistId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_referencial.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourcePicklistName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_referencial.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_OpportunitySource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_devis_CPQ_object</name>
        <label>Create devis CPQ object</label>
        <locationX>1067</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>QuoteCPQ.nomDevis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomDevisTruncated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.dateDevis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_du_devis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.financingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancingMethodPicklist.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.sourceRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourcePicklist.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>À configurer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.autreCompte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.autreCompte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.typeDeTaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Réduit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.chantier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__PricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.system_id_pricebookentry_standard</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.rue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.ville__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.pays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.codePostal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.departement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ville__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.pays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.codePostal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.departement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.rue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.referenceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_du_devis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.automaticCreation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__BillingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCPQ.SBQQ__ShippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_CPQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Création de la liste des valeurs à filtrer pour les RT</description>
        <name>Create_RT_List_Filter</name>
        <label>Create RT List Filter</label>
        <locationX>776</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeNameFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinancingMethod</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeNameFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Source</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecordType_FinancingMethod</name>
        <label>Set RecordType FinancingMethod</label>
        <locationX>871</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>RecordType_FinancingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecordType_Source</name>
        <label>Set RecordType Source</label>
        <locationX>997</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>RecordType_Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_RecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OpportunityFM</name>
        <label>Check OpportunityFM</label>
        <locationX>307</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>For_each_referencial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isOppFinancing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_referencial.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.modeFinancement__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FinancingMethodOppId</targetReference>
            </connector>
            <label>isOppFinancing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OpportunitySource</name>
        <label>Check OpportunitySource</label>
        <locationX>249</locationX>
        <locationY>1147</locationY>
        <defaultConnector>
            <targetReference>For_each_referencial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isOppSource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_referencial.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.LeadSource</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SourceOppId</targetReference>
            </connector>
            <label>isOppSource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>930</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isFinancingMethod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FinancingMethod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_each_RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referencial__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecordType_FinancingMethod</targetReference>
            </connector>
            <label>FinancingMethod</label>
        </rules>
        <rules>
            <name>isSource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Source</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_each_RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referencial__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecordType_Source</targetReference>
            </connector>
            <label>Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_referencial_type</name>
        <label>Check referencial type</label>
        <locationX>402</locationX>
        <locationY>927</locationY>
        <defaultConnector>
            <targetReference>Construct_SourcePicklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Source</defaultConnectorLabel>
        <rules>
            <name>FinancingMethod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_referencial.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordType_FinancingMethod</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construct_FinancingMethodPicklist</targetReference>
            </connector>
            <label>FinancingMethod</label>
        </rules>
    </decisions>
    <description>Devis CPQ - Assistant affiché sur les projets pour créer rapidement un devis</description>
    <formulas>
        <name>BillingName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.civilite__c} &amp; &apos; &apos; &amp; {!Get_Account.prenom__c} &amp; &apos; &apos; &amp; {!Get_Account.nom__c}</expression>
    </formulas>
    <formulas>
        <name>ExpirationDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14</expression>
    </formulas>
    <formulas>
        <name>NomDevisFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;CPQ _ &quot; + 
TEXT(YEAR(TODAY())) + 
IF(MONTH(TODAY()) &lt; 10, &quot;0&quot;+TEXT(MONTH(TODAY())), TEXT(MONTH(TODAY()))) + &quot; _ &quot; + 
{!Get_Account.Name} + &quot; _ &quot; + 
{!Get_Chantier.ville__c}, 255)</expression>
    </formulas>
    <formulas>
        <name>NomDevisTruncated</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Nom_du_devis}, 255)</expression>
    </formulas>
    <formulas>
        <name>ShippingName</name>
        <dataType>String</dataType>
        <expression>{!Get_Chantier.civiliteProprietaires__c} &amp; &apos; &apos; &amp; {!Get_Chantier.prenomProprietaires__c} &amp; &apos; &apos; &amp; {!Get_Chantier.nomProprietaires__c}</expression>
    </formulas>
    <interviewLabel>Devis CPQ - Assistant création devis rapide {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - Assistant création devis rapide</label>
    <loops>
        <name>For_each_RecordType</name>
        <label>For each RecordType</label>
        <locationX>779</locationX>
        <locationY>813</locationY>
        <collectionReference>RecordTypesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_RecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Referencial_datas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_referencial</name>
        <label>For each referencial</label>
        <locationX>536</locationX>
        <locationY>1005</locationY>
        <collectionReference>Get_Referencial_datas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_referencial_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nouveau_devis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_CPQ</name>
        <label>Create Quote CPQ</label>
        <locationX>1241</locationX>
        <locationY>1183</locationY>
        <connector>
            <targetReference>Open_Edit_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>QuoteCPQ</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>775</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_RT_List_Filter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chantier.proprietaire__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chantier</name>
        <label>Get Chantier</label>
        <locationX>775</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.chantier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chantier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>775</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>920</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_devis_CPQ_object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesQuote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referencial_datas</name>
        <label>Get Referencial datas</label>
        <locationX>699</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_referencial</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_FinancingMethod</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Source</elementReference>
            </value>
        </filters>
        <filters>
            <field>active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referencial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>956</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Get_Chantier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>automaticCreation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1306</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Nouveau_devis</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nouveau_devis</name>
        <label>Nouveau devis</label>
        <locationX>770</locationX>
        <locationY>1167</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <fields>
            <name>Nom_du_devis</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NomDevisFormula</elementReference>
            </defaultValue>
            <fieldText>Nom du devis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_du_devis</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date du devis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La date du devis doit être inférieure ou égale à la date du jour&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_du_devis} &lt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>FinancingMethodPicklist</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Mode de financement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>FinancingMethodPicklistName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>FinancingMethodPicklistId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OpportunityFMId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SourcePicklist</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>SourcePicklistName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>SourcePicklistId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Origine du devis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OpportunitySourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Commentaires contrat</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinancingMethodPicklistId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancingMethodPicklistName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityFMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunitySourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteCPQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <description>Id du projet</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType_FinancingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeNameFilters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SourcePicklistId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourcePicklistName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
