force-app/main/default/flows/Devis_Assistant_creation_devis_rapide.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Quote</name>
        <label>Open Quote</label>
        <locationX>1374</locationX>
        <locationY>844</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Quote.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Construct_FinancingMethodPicklistList</name>
        <label>Construct FinancingMethodPicklistList</label>
        <locationX>445</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>FinancingMethodPicklistValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_MFPicklistValue.Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_MFPicklistValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_devis_object</name>
        <label>Create devis object</label>
        <locationX>951</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>Quote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_du_devis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.dateDevis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_du_devis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.Total_TTC_devis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Montant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.modeFinancement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancingMethodPicklist.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.typeContrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_contrat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourcePicklist.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A configurer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.compte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.automaticCreation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <description>Devis - Assistant affiché sur les projets pour créer rapidement un devis</description>
    <dynamicChoiceSets>
        <name>TypeContratList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>typeContrat__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NomDevisFormula</name>
        <dataType>String</dataType>
        <expression>&quot;DVS_ &quot; + 
TEXT(YEAR(TODAY())) + 
IF(MONTH(TODAY()) &lt; 10, &quot;0&quot;+TEXT(MONTH(TODAY())), TEXT(MONTH(TODAY()))) + &quot; _ &quot; + 
{!Get_Account.Name} + &quot; _ &quot; + 
{!Get_Chantier.ville__c}</expression>
    </formulas>
    <formulas>
        <name>OpportunityFinancingMethod</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.modeFinancement__c}</expression>
    </formulas>
    <formulas>
        <name>OpportunitySource</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Opportunity.LeadSource})</expression>
    </formulas>
    <interviewLabel>Devis - Assistant création devis rapide {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis - Assistant création devis rapide</label>
    <loops>
        <name>For_each_MFPicklistValue</name>
        <label>For each MFPicklistValue</label>
        <locationX>444</locationX>
        <locationY>713</locationY>
        <collectionReference>Get_ModeFinancementPicklistValue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Construct_FinancingMethodPicklistList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nouveau_devis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>1216</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>Open_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Quote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>778</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OppRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chantier.proprietaire__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chantier</name>
        <label>Get Chantier</label>
        <locationX>778</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.chantier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chantier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ModeFinancementPicklistValue</name>
        <label>Get_ModeFinancementPicklistValue</label>
        <locationX>508</locationX>
        <locationY>581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_MFPicklistValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote.00ND0000004e2ii</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>779</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OppRecordType</name>
        <label>Get OppRecordType</label>
        <locationX>778</locationX>
        <locationY>581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ModeFinancementPicklistValue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteRecordType</name>
        <label>Get QuoteRecordType</label>
        <locationX>776</locationX>
        <locationY>835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_devis_object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FRADevis</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>924</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Get_Chantier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>automaticCreation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1213</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Nouveau_devis</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nouveau_devis</name>
        <label>Nouveau devis</label>
        <locationX>777</locationX>
        <locationY>706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_QuoteRecordType</targetReference>
        </connector>
        <fields>
            <name>Nom_du_devis</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NomDevisFormula</elementReference>
            </defaultValue>
            <fieldText>Nom du devis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_du_devis</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date du devis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;La date du devis doit être inférieure ou égale à la date du jour&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_du_devis} &lt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Montant</name>
            <dataType>Currency</dataType>
            <fieldText>Montant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Impossible de saisir une valeur négative&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Montant} &gt;= 0 || {!Montant}= null</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>FinancingMethodPicklist</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>FinancingMethodPicklistValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Mode de financement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OpportunityFinancingMethod</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Type_de_contrat</name>
            <choiceReferences>TypeContratList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de contrat</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SourcePicklist</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>LeadSource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Origine du devis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OpportunitySource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinancingMethodPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>Id du projet</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
