force-app/main/default/flows/Devis_CPQ_Verification_couts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignFields</name>
        <label>assignFields</label>
        <locationX>1106</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>forEachQuote.ancillaryCosts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ancillaryCosts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPQQuoteIdLIst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEachQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteToDisplayWithoutDuplicate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEachQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToList</name>
        <label>assignToList</label>
        <locationX>913</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>quotesToDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAllDevisSold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToList_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToList_0</name>
        <label>assignToList</label>
        <locationX>590</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>quotesToDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAllDevisSold_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToList_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToList_0_0</name>
        <label>assignToList</label>
        <locationX>803</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>quotesToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getFirstDevis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sortQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToList_0_0_0</name>
        <label>assignToList</label>
        <locationX>914</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>quotesToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getDevis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sortQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToList_0_0_0_0</name>
        <label>assignToList</label>
        <locationX>693</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>quotesToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getPreviousDevis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToList_0_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sortQuote</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortQuote</label>
        <locationX>914</locationX>
        <locationY>346</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>quotesToDisplay</collectionReference>
        <connector>
            <targetReference>forEachQuote</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>filterDuplicate</name>
        <label>filterDuplicate</label>
        <locationX>1026</locationX>
        <locationY>95</locationY>
        <defaultConnector>
            <targetReference>assignFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>if_already_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPQQuoteIdLIst</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>forEachQuote.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forEachQuote</targetReference>
            </connector>
            <label>if already exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAvenant</name>
        <label>isAvenant</label>
        <locationX>577</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>getAllDevisSold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAvenantOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDevis.AmendmentQuote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFirstDevis</targetReference>
            </connector>
            <label>isAvenantOK</label>
        </rules>
    </decisions>
    <description>L’action affichera dans un flow une grille contenant les colonnes suivantes « N° devis, Date du devis, Statut, EC (€), EC (%), EC (Diff.) » pour tous les devis vendu plus le devis en cours de consultation triés par ordre décroissant de n° de devis (du plus récent au plus ancien).</description>
    <formulas>
        <name>GOIRate</name>
        <dataType>Number</dataType>
        <expression>1 - (({!getFirstDevis.MontantTotalTTC__c} - {!getFirstDevis.netMargin__c}) + ({!ancillaryCosts}+ {!getFirstDevis.salesCommission__c})) / {!getFirstDevis.MontantTotalTTC__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Devis CPQ - Vérification coûts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - Vérification coûts</label>
    <loops>
        <name>forEachQuote</name>
        <label>forEachQuote</label>
        <locationX>1034</locationX>
        <locationY>346</locationY>
        <collectionReference>quotesToDisplay</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filterDuplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDevis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAllDevisSold</name>
        <label>getAllDevisSold</label>
        <locationX>776</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </filters>
        <filters>
            <field>amendInitialQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAllDevisSold_0</name>
        <label>getAllDevisSold</label>
        <locationX>457</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToList_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </filters>
        <filters>
            <field>amendInitialQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFirstDevis.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getPreviousDevis.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDevis</name>
        <label>getDevis</label>
        <locationX>474</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAvenant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFirstDevis</name>
        <label>getFirstDevis</label>
        <locationX>586</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPreviousDevis</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDevis.amendInitialQuote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPreviousDevis</name>
        <label>getPreviousDevis</label>
        <locationX>458</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllDevisSold_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDevis.previousQuote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateDevis</name>
        <label>updateDevis</label>
        <locationX>1193</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>verifCout</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputReference>quoteToDisplayWithoutDuplicate</inputReference>
    </recordUpdates>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>732</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>verifCout</name>
        <label>verifCout</label>
        <locationX>1347</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showAllQuote</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SBQQ__Quote__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>quoteToDisplayWithoutDuplicate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, dateDevis__c, SBQQ__Status__c, ecartCotation__c, ecartCotationPercent__c, ecartCotationDelta__c, catalogMarginPercent__c, netMarginPercent__c, GOIRate__c, GOICurrency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>4:EC (€),5:EC (%),6:EC (Δ),7:Marge cat. (%),8:Marge net. (%),9:RBE (%)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>View_Cout_auxiliaire</name>
        <label>View Cout auxiliaire</label>
        <locationX>267</locationX>
        <locationY>179</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getDevis</targetReference>
        </connector>
        <fields>
            <name>ancillaryCosts</name>
            <dataType>Currency</dataType>
            <fieldText>Coûts auxiliaires</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>View_Cout_auxiliaire</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Liste des IDs à mettre à jour pour gérer les doublons</description>
        <name>CPQQuoteIdLIst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quotesToDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>quoteToDisplayWithoutDuplicate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
