force-app/main/default/flows/Devis_CPQ_Avenant_Vendu_Clonage_projet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Create_Opp_Clone</name>
        <label>Create Opp Clone</label>
        <locationX>378</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>OpportunityCloned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Oppportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp_clone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_opp_clone</name>
        <label>Update opp clone</label>
        <locationX>508</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>OpportunityCloned.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityCloned.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityCloned.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityCloned.forcageEtape__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityCloned.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avenant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityCloned.SBQQ__PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_Opportunity</targetReference>
        </connector>
    </assignments>
    <description>Devis CPQ - Processus de vente afin de créer temporairement un projet lors de la vente d&apos;un devis avenant</description>
    <interviewLabel>Devis CPQ - Avenant Vendu - Clonage projet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - Avenant Vendu - Clonage projet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clone_Opportunity</name>
        <label>Create Clone Opportunity</label>
        <locationX>679</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Update_CPQQuote_Opp_Only</targetReference>
        </connector>
        <inputReference>OpportunityCloned</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Oppportunity</name>
        <label>Get Oppportunity</label>
        <locationX>176</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QuoteCPQ.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteCPQ</name>
        <label>Get QuoteCPQ</label>
        <locationX>175</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CPQQuote_Opp</name>
        <label>Update CPQQuote Opp</label>
        <locationX>1105</locationX>
        <locationY>343</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QuoteCPQ.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CPQQuote_Opp_Only</name>
        <label>Update CPQQuote Opp Only</label>
        <locationX>809</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Update_Opp_Primary_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QuoteCPQ.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OpportunityCloned.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>opportunityTempId__c</field>
            <value>
                <elementReference>Get_QuoteCPQ.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Primary_Quote</name>
        <label>Update Opp Primary Quote</label>
        <locationX>954</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Update_CPQQuote_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityCloned.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__PrimaryQuote__c</field>
            <value>
                <elementReference>Get_QuoteCPQ.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_QuoteCPQ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
