force-app/main/default/flows/Devis_CPQ_Bouton_Termine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval</name>
        <label>Approval</label>
        <locationX>50</locationX>
        <locationY>1586</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Get_Quote_Data_After_AP</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Calculate_commission_VRP</name>
        <label>Calculate commission VRP</label>
        <locationX>754</locationX>
        <locationY>1046</locationY>
        <actionName>TR022_SBQQ_Quote_Commission</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Managers</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__quotes</typeName>
            <typeValue>SBQQ__Quote__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quotes</name>
            <value>
                <elementReference>Get_CPQQuote</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Managers</name>
        <label>Calculate Managers</label>
        <locationX>754</locationX>
        <locationY>1154</locationY>
        <actionName>IV_QuoteCPQCalculateManagers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_New_Quote_Data</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quotesList</name>
            <value>
                <elementReference>Get_CPQQuote.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Check if Acompte 1 is Null</description>
        <name>Acompte1</name>
        <label>Acompte1</label>
        <locationX>754</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Calculate_commission_VRP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Acompte1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPQQuote.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPQQuote.MontantAcompteAttendu__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPQQuote.MontantAcompteAttendu__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_montant_TTC_du_devis_dans_acompte_1</targetReference>
            </connector>
            <label>Accompt1 est null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Approval_Executed</name>
        <label>Check if Approval Executed</label>
        <locationX>50</locationX>
        <locationY>1802</locationY>
        <defaultConnector>
            <targetReference>Update_IsInApproval_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>In_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data_After_AP.approvalExecuted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Success</targetReference>
            </connector>
            <label>In Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Owner_is_Active</name>
        <label>Check if Owner is Active</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_InitialQuoteOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active</defaultConnectorLabel>
        <rules>
            <name>Is_Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_InitialQuoteOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acompte1</targetReference>
            </connector>
            <label>Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MotifApprobation</name>
        <label>Check MotifApprobation</label>
        <locationX>754</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Update_IsValid_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MotifApprobation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Quote_Data.MotifApprobation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IsInApproval_true</targetReference>
            </connector>
            <label>MotifApprobation</label>
        </rules>
    </decisions>
    <description>Devis CPQ - Action &quot;Terminer&quot; afin de calculer les managers du devis et effectuer une demande d&apos;approbation lorsque le devis est configuré</description>
    <interviewLabel>Devis CPQ - Bouton Terminé {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - Bouton Terminé</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CPQQuote</name>
        <label>Get CPQQuote</label>
        <locationX>754</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_InitialQuoteOwner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InitialQuoteOwner</name>
        <label>Get InitialQuoteOwner</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Owner_is_Active</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Quote_Data.initialQuoteOwner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Quote_Data</name>
        <label>Get New Quote Data</label>
        <locationX>754</locationX>
        <locationY>1262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MotifApprobation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Data_After_AP</name>
        <label>Get Quote Data After AP</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Approval_Executed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copier_montant_TTC_du_devis_dans_acompte_1</name>
        <label>Copier montant TTC du devis dans acompte 1</label>
        <locationX>490</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Calculate_commission_VRP</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MontantAcompteAttendu__c</field>
            <value>
                <elementReference>Get_CPQQuote.totalAmount__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InitialQuoteOwner</name>
        <label>Update InitialQuoteOwner</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Acompte1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>initialQuoteOwner__c</field>
            <value>
                <elementReference>Get_CPQQuote.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IsInApproval_false</name>
        <label>Update IsInApproval = false</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>approvalInProgress__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IsInApproval_true</name>
        <label>Update IsInApproval = true</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Approval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>approvalInProgress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>initialQuoteOwner__c</field>
            <value>
                <elementReference>NewOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IsValid_true</name>
        <label>Update IsValid = true</label>
        <locationX>1458</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>quoteIsValid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>errors</name>
        <label>errors</label>
        <locationX>402</locationX>
        <locationY>2018</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen_Success</label>
        <locationX>754</locationX>
        <locationY>2426</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(22, 166, 3); background-color: rgb(255, 255, 255);&quot;&gt;L&apos;action s&apos;est déroulée correctement&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CPQQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
