force-app/main/default/flows/Devis_CPQ_Assistant_creation_avenant_devis_CPQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Quote_CPQ</name>
        <label>Open Quote CPQ</label>
        <locationX>446</locationX>
        <locationY>2738</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Avenant.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Create_quote_record</name>
        <label>Create quote record</label>
        <locationX>446</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>Avenant.nomDevis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomDevisTruncated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.amendInitialQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmendInitialQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.previousQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousQuoteCPQId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.AmendmentQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.autreCompte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutreCompte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.AutreNatureLocaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutreNatureLocaux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.AutreTypeAdresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutreTypeAdresse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ville__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.codePostal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.rue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.departement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.pays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.specialTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Order.specialTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.maxCommercialDelay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DelaiInstallationMax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.minCommercialDelay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DelaiInstallationMin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__DistributorDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.SBQQ__DistributorDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.LocalisationTravaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocalisationTravaux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MilliemesLocalisationTravaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilliemesLocalisationTravaux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.financingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Order.financingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantTotalHTpostBP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantTotalHTpostBP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantTVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantTVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantTVAFort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantTVAFort__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantTVAIntermediaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantTVAIntermediaire__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantTVAReduite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantTVAReduite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.NatureLocaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NatureLocaux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__PartnerDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.SBQQ__PartnerDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.ville__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.codePostal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.rue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.departement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.sourceRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Order.source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.TypeAdresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.TypeAdresse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.typeDeTaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.typeDeTaux__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__PricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Order.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.chantier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Order.chantier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.dateDevis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.referenceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.referenceDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.spilledCustomerOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.termsAndConditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.termsAndConditions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantAcompteAttendu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantAcompteAttendu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantAcompte2Attendu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantAcompte2Attendu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.billingAdditionalAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.complementAdresse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.shippingAdditionalAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.complementAdresse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chantier.pays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__ShippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__BillingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.previousQuoteTotalAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.totalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.customerOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.VATAmountDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.VATAmountDisplay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.backupCustomerAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.backupCustomerAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.backupMontantTTCCible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.backupMontantTTCCible__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.backupRemCompDevise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.backupRemCompDevise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.backupRemCompPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.backupRemCompPercent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.tauxRemiseComplementaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.tauxRemiseComplementaire__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.MontantNetTotalTTCCible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.MontantNetTotalTTCCible__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.RemiseComplementairePercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.RemiseComplementairePercent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.RemiseComplementaireTTCDevise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.RemiseComplementaireTTCDevise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.RemiseComplementaireDevise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.RemiseComplementaireDevise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.totalAmountPR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.totalAmountPR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.totalAmountScript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.totalAmountScript__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.pretaxTotalAmountPR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.pretaxTotalAmountPR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.pretaxTotalAmountScript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.pretaxTotalAmountScript__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.ElementsTravaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.ElementsTravaux__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.NatureTravaux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.NatureTravaux__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.BonusProjetCible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.BonusProjetCible__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.operation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.opportunityTempId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_CPQ_Avenant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_OwnerId_Manager</name>
        <label>Define OwnerId = Manager</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>NewOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteOwner.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Avenant.initialQuoteOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteOwner.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_quote_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_OwnerId_QuoteOwner</name>
        <label>Define OwnerId = QuoteOwner</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>NewOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_quote_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_PreviousQuoteId</name>
        <label>Define PreviousQuoteId</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>PreviousQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_Previous_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_Previous_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_PreviousQuoteId_CPQ</name>
        <label>Define PreviousQuoteId</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>PreviousQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_Previous_Quote_CPQ.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_Previous_Quote_CPQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_with_an_Order</name>
        <label>Start with an Order</label>
        <locationX>116</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Initial_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Owner_is_Active</name>
        <label>Check if Owner is Active</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Define_OwnerId_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active</defaultConnectorLabel>
        <rules>
            <name>Is_Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_OwnerId_QuoteOwner</targetReference>
            </connector>
            <label>Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Cancelled_or_Locked</name>
        <label>If Order Cancelled or Locked</label>
        <locationX>248</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Quote_CPQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Order_Cancelled_or_Lock</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initial_Order.isLocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Initial_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorOrderScreen</targetReference>
            </connector>
            <label>If Order Cancelled or Lock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start</name>
        <label>Start</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>GetOrderIdFromQuoteCPQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Start_on_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_with_an_Order</targetReference>
            </connector>
            <label>If Start on Order</label>
        </rules>
    </decisions>
    <description>Devis CPQ - Assistant affiché sur les commandes client pour créer rapidement un avenant CPQ</description>
    <formulas>
        <name>AmendInitialQuoteId</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Get_QuoteCPQ.amendInitialQuote__c}), 
{!Get_QuoteCPQ.amendInitialQuote__c}, 
{!Get_QuoteCPQ.Id}
)</expression>
    </formulas>
    <formulas>
        <name>AutreCompte</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.autreCompte__c} ,
{!Get_QuoteCPQ.autreCompte__c}
)</expression>
    </formulas>
    <formulas>
        <name>AutreNatureLocaux</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.autreNatureLocaux__c}  ,
{!Get_QuoteCPQ.AutreNatureLocaux__c} 
)</expression>
    </formulas>
    <formulas>
        <name>AutreTypeAdresse</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.autreTypeAdresse__c}  ,
{!Get_QuoteCPQ.AutreTypeAdresse__c} 
)</expression>
    </formulas>
    <formulas>
        <name>BillingName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.civilite__c} &amp; &apos; &apos;&amp; {!Get_Account.prenom__c} &amp; &apos; &apos;&amp; {!Get_Account.nom__c}</expression>
    </formulas>
    <formulas>
        <name>DelaiInstallationMax</name>
        <dataType>Number</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.delaiInstallationMax__c}  ,
{!Get_QuoteCPQ.maxCommercialDelay__c} 
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DelaiInstallationMin</name>
        <dataType>Number</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.delaiInstallationMin__c} ,
{!Get_QuoteCPQ.minCommercialDelay__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LocalisationTravaux</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
TEXT({!Get_Quote.localisationTravaux__c} ) ,
TEXT({!Get_QuoteCPQ.LocalisationTravaux__c} )
)</expression>
    </formulas>
    <formulas>
        <name>MilliemesLocalisationTravaux</name>
        <dataType>Number</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.milliemesLocalisationTravaux__c}  ,
{!Get_QuoteCPQ.MilliemesLocalisationTravaux__c} 
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MontantAcompteAttendu</name>
        <dataType>Currency</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.mntAcompteAttendu__c} ,
{!Get_QuoteCPQ.MontantAcompteAttendu__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MontantAcompteAttendu2</name>
        <dataType>Currency</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
{!Get_Quote.mntAcompte2Attendu__c} ,
{!Get_QuoteCPQ.MontantAcompte2Attendu__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NatureLocaux</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
TEXT({!Get_Quote.natureLocaux__c}) ,
TEXT({!Get_QuoteCPQ.NatureLocaux__c})
)</expression>
    </formulas>
    <formulas>
        <name>NomDevisFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Avenant sur Commande&quot;+&quot;-&quot;+{!Get_Initial_Order.OrderNumber}+&quot;-&quot;+TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>NomDevisTruncated</name>
        <dataType>String</dataType>
        <expression>LEFT({!Nom_du_devis}, 255)</expression>
    </formulas>
    <formulas>
        <name>PreviousQuoteCPQId</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK( {!PreviousQuote} ), 
{!Get_Initial_Order.SBQQ__Quote__c} , 
{!PreviousQuote}
)</expression>
    </formulas>
    <formulas>
        <name>ShippingName</name>
        <dataType>String</dataType>
        <expression>{!Get_Chantier.civiliteProprietaires__c} &amp; &apos; &apos;&amp; {!Get_Chantier.prenomProprietaires__c} &amp; &apos; &apos;&amp; {!Get_Chantier.nomProprietaires__c}</expression>
    </formulas>
    <formulas>
        <name>TypeAdresse</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Initial_Order.SBQQ__Quote__c}),
TEXT({!Get_Quote.typeAdresse__c}) ,
TEXT({!Get_QuoteCPQ.TypeAdresse__c})
)</expression>
    </formulas>
    <interviewLabel>Devis CPQ - Assistant création avenant devis CPQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - Assistant création avenant devis CPQ</label>
    <loops>
        <name>FE_Previous_Quote</name>
        <label>For each Previous Quote</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Previous_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_PreviousQuoteId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_Previous_Quote_CPQ</name>
        <label>For each Previous Quote CPQ</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Previous_Quote_CPQ</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_PreviousQuoteId_CPQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_QuoteCPQ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_CPQ_Avenant</name>
        <label>Create Quote CPQ Avenant</label>
        <locationX>446</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Open_Quote_CPQ</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Avenant</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chantier</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chantier</name>
        <label>Get Chantier</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nouveau_devis_avenant</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Order.chantier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chantier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Order</name>
        <label>Get Initial Order</label>
        <locationX>248</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Order_Cancelled_or_Locked</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Quote</name>
        <label>Get Previous Quote</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_Previous_Quote</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>amendmentQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <sortField>dateDernierAppelSortant__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Quote_CPQ</name>
        <label>Get Previous Quote CPQ</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_Previous_Quote_CPQ</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AmendmentQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <sortField>dateAcceptationClient__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousQuote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteCPQ</name>
        <label>Get QuoteCPQ</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Quote</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousQuoteCPQId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteOwner</name>
        <label>Get QuoteOwner</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Owner_is_Active</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_QuoteCPQ.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QuoteOwner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesQuote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderIdFromQuoteCPQ</name>
        <label>GetOrderIdFromQuoteCPQ</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initial_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>orderId</assignToReference>
            <field>customerOrder__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nouveau_devis_avenant</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorOrderScreen</name>
        <label>ErrorOrderScreen</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorOrder</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;La commande associée est verrouillée ou annulée.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nouveau_devis_avenant</name>
        <label>Nouveau devis avenant</label>
        <locationX>446</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <fields>
            <name>Nom_du_devis</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NomDevisFormula</elementReference>
            </defaultValue>
            <fieldText>Nom du devis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Commentaires contrat</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Avenant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>NewOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If the flow started with a quote, this queried quote allows us to know the quote Id.</description>
        <name>QueriedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>Id du projet</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
