force-app/main/default/flows/Devis_CPQ_After_Trigger_MAJ_entit_commerciale_du_projet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Verification_du_champ_codeMagasin_c_dans_le_owner</name>
        <label>Verification du champ codeMagasin_c dans le owner</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Maj_Entitee_Comerciale_Projet_Chantier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>codeMagasin absent</defaultConnectorLabel>
        <rules>
            <name>codeMagasin_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.CodeMagasin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Magasin_du_Owner</targetReference>
            </connector>
            <label>codeMagasin présent</label>
        </rules>
    </decisions>
    <description>Devis CPQ - Flux permettant de mettre à jour l&apos;entité commerciale du projet à la vente du devis selon le magasin du propriétaire du devis ou du chantier</description>
    <interviewLabel>Devis CPQ - After Trigger - MAJ entité commerciale du projet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - After Trigger - MAJ entité commerciale du projet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Magasin_du_Owner</name>
        <label>Get Magasin du Owner</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Maj_Entitee_Comerciale_Projet_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KparKReference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.CodeMagasin__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Maj_Entitee_Comerciale_Projet_Chantier</name>
        <label>Maj Entitée Comerciale Projet</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>salesEntity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>salesEntity__c</field>
            <value>
                <elementReference>$Record.chantier__r.salesEntity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Maj_Entitee_Comerciale_Projet_Owner</name>
        <label>Maj Entitée Comerciale Projet</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>salesEntity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>salesEntity__c</field>
            <value>
                <elementReference>Get_Magasin_du_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verification_du_champ_codeMagasin_c_dans_le_owner</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
