force-app/main/default/flows/Devis_CPQ_MAJ_noms_et_adresses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>Devis CPQ - Action pour mettre à jour les champs noms et adresses</description>
    <formulas>
        <name>BillingAdditionalAddress</name>
        <dataType>String</dataType>
        <expression>{!Account.complementAdresse__c}</expression>
    </formulas>
    <formulas>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <expression>{!Account.ville__c}</expression>
    </formulas>
    <formulas>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <expression>{!Account.pays__c}</expression>
    </formulas>
    <formulas>
        <name>BillingEmail</name>
        <dataType>String</dataType>
        <expression>{!Account.email__c}</expression>
    </formulas>
    <formulas>
        <name>BillingHomePhone</name>
        <dataType>String</dataType>
        <expression>{!Account.telephoneDomicile__c}</expression>
    </formulas>
    <formulas>
        <name>BillingMobilePhone</name>
        <dataType>String</dataType>
        <expression>{!Account.telephoneMobile__c}</expression>
    </formulas>
    <formulas>
        <name>BillingName</name>
        <dataType>String</dataType>
        <expression>{!Account.civilite__c} + &apos; &apos; + {!Account.prenom__c} + &apos; &apos; + {!Account.nom__c}</expression>
    </formulas>
    <formulas>
        <name>BillingOtherPhone</name>
        <dataType>String</dataType>
        <expression>{!Account.autreTelephone__c}</expression>
    </formulas>
    <formulas>
        <name>BillingPostalCode</name>
        <dataType>String</dataType>
        <expression>{!Account.codePostal__c}</expression>
    </formulas>
    <formulas>
        <name>BillingState</name>
        <dataType>String</dataType>
        <expression>{!Account.departement__c}</expression>
    </formulas>
    <formulas>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <expression>{!Account.rue__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingAdditionalAddress</name>
        <dataType>String</dataType>
        <expression>{!Chantier.complementAdresse__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingCity</name>
        <dataType>String</dataType>
        <expression>{!Chantier.ville__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingCountry</name>
        <dataType>String</dataType>
        <expression>{!Chantier.pays__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingEmail</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Chantier.occupant__c} != null, {!Chantier.autreOccupant__c}  != null),
{!Chantier.emailOccupants__c} ,
IF(OR({!Chantier.locataire__c}  != null, {!Chantier.autreLocataire__c}  != null),
{!Chantier.emailLocataires__c} ,
IF(OR({!Chantier.proprietaire__c}  != null, {!Chantier.autreProprietaire__c}  != null),
{!Chantier.emailProprietaires__c} ,
&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>ShippingHomePhone</name>
        <dataType>String</dataType>
        <expression>IF(OR( {!Chantier.occupant__c} != null, {!Chantier.autreOccupant__c} != null),
{!Chantier.telephoneDomicileOccupants__c}, 
IF(OR({!Chantier.locataire__c} != null, {!Chantier.autreLocataire__c} != null),
{!Chantier.telephoneDomicileLocataires__c},
IF(OR({!Chantier.proprietaire__c} != null, {!Chantier.autreProprietaire__c} != null),
{!Chantier.telephoneDomicileProprietaires__c},
&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>ShippingMobilePhone</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Chantier.occupant__c} != null, {!Chantier.autreOccupant__c}!= null), 
 {!Chantier.telephoneMobileOccupants__c} ,
IF(OR({!Chantier.locataire__c} != null, {!Chantier.autreLocataire__c} != null),
 {!Chantier.telephoneMobileLocataires__c} ,
IF(OR({!Chantier.proprietaire__c} != null, {!Chantier.autreProprietaire__c}  != null),
 {!Chantier.telephoneMobileProprietaires__c} ,
&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>ShippingName</name>
        <dataType>String</dataType>
        <expression>{!Chantier.civiliteProprietaires__c} + &apos; &apos; + {!Chantier.prenomProprietaires__c} + &apos; &apos; + {!Chantier.nomProprietaires__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingOtherPhone</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Chantier.occupant__c} != null, {!Chantier.autreOccupant__c} != null),
{!Chantier.autreTelephoneOccupants__c},
IF(OR({!Chantier.locataire__c} != null, {!Chantier.autreLocataire__c} != null),
{!Chantier.autreTelephoneLocataires__c},
IF(OR({!Chantier.proprietaire__c} != null, {!Chantier.autreProprietaire__c} != null),
{!Chantier.autreTelephoneProprietaires__c},
&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>ShippingPostalCode</name>
        <dataType>String</dataType>
        <expression>{!Chantier.codePostal__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingState</name>
        <dataType>String</dataType>
        <expression>{!Chantier.departement__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingStreet</name>
        <dataType>String</dataType>
        <expression>{!Chantier.rue__c}</expression>
    </formulas>
    <interviewLabel>Devis CPQ - Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - MAJ noms et adresses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Get Account</label>
        <locationX>178</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote_CPQ</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CPQ_Quote.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Chantier</name>
        <label>Get Chantier</label>
        <locationX>176</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.chantier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chantier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CPQ_Quote</name>
        <label>Get CPQ Quote</label>
        <locationX>175</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chantier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CPQ_Quote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_CPQ</name>
        <label>Update Quote CPQ</label>
        <locationX>485</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>Screen_Sucess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__BillingCity__c</field>
            <value>
                <elementReference>BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCountry__c</field>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingName__c</field>
            <value>
                <elementReference>BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingPostalCode__c</field>
            <value>
                <elementReference>BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingState__c</field>
            <value>
                <elementReference>BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingStreet__c</field>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCity__c</field>
            <value>
                <elementReference>ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCountry__c</field>
            <value>
                <elementReference>ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingName__c</field>
            <value>
                <elementReference>ShippingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingPostalCode__c</field>
            <value>
                <elementReference>ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingState__c</field>
            <value>
                <elementReference>ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingStreet__c</field>
            <value>
                <elementReference>ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billingAdditionalAddress__c</field>
            <value>
                <elementReference>BillingAdditionalAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billingEmail__c</field>
            <value>
                <elementReference>BillingEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billingHomePhone__c</field>
            <value>
                <elementReference>BillingHomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billingMobilePhone__c</field>
            <value>
                <elementReference>BillingMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billingOtherPhone__c</field>
            <value>
                <elementReference>BillingOtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shippingAdditionalAddress__c</field>
            <value>
                <elementReference>ShippingAdditionalAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shippingEmail__c</field>
            <value>
                <elementReference>ShippingEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shippingHomePhone__c</field>
            <value>
                <elementReference>ShippingHomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shippingMobilePhone__c</field>
            <value>
                <elementReference>ShippingMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shippingOtherPhone__c</field>
            <value>
                <elementReference>ShippingOtherPhone</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_Error</name>
        <label>Screen_Error</label>
        <locationX>608</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Sucess</name>
        <label>Screen_Sucess</label>
        <locationX>630</locationX>
        <locationY>435</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(22, 166, 3);&quot;&gt;Les champs ont bien été mis à jour.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>CPQ_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
