force-app/main/default/flows/Devis_CPQ_Avenant_Vendu_MAJ_Statut.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Define_OldOpportunityId</name>
        <label>Define OldOpportunityId</label>
        <locationX>333</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>OldOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QuoteCPQ.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPQ_Quote_Status_Vendu</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Primary</name>
        <label>Check Primary</label>
        <locationX>172</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteCPQ.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_OldOpportunityId</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <description>Devis CPQ - Processus pour créer la commande client lors de la vente d&apos;un devis avenant</description>
    <interviewLabel>Devis CPQ - Avenant Vendu - MAJ Statut {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis CPQ - Avenant Vendu - MAJ Statut</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_temp_Opp</name>
        <label>Delete temp Opp</label>
        <locationX>921</locationX>
        <locationY>302</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_QuoteCPQ</name>
        <label>Get QuoteCPQ</label>
        <locationX>176</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CPQ_Quote_Status_Vendu</name>
        <label>CPQ Quote Status = Vendu</label>
        <locationX>500</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Update_Quote_CPQ_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Opp</name>
        <label>Update Order Opp</label>
        <locationX>780</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Delete_temp_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_QuoteCPQ.opportunityTempId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_CPQ_Opp</name>
        <label>Update Quote CPQ Opp</label>
        <locationX>644</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Update_Order_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>Get_QuoteCPQ.opportunityTempId__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_QuoteCPQ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OldOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
