force-app/main/default/flows/EntityVersion_MAJ_Entite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Debug</name>
        <label>Is Debug ?</label>
        <locationX>405</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Update_Entity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Debug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EntityVersion</targetReference>
            </connector>
            <label>Debug</label>
        </rules>
    </decisions>
    <description>Version d&apos;entité - Processus de mise à jour de l&apos;entité</description>
    <interviewLabel>EntityVersion - MAJ Entité {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EntityVersion - MAJ Entité</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Récupération des infos de la version</description>
        <name>Get_EntityVersion</name>
        <label>Get EntityVersion</label>
        <locationX>411</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVersion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityVersion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Mise à jour de l&apos;entité selon les données de la version active</description>
        <name>Update_Entity</name>
        <label>Update Entity</label>
        <locationX>925</locationX>
        <locationY>126</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EntityVersion.entity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_EntityVersion.city__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_EntityVersion.country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_EntityVersion.postalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_EntityVersion.street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localisation__Latitude__s</field>
            <value>
                <elementReference>Get_EntityVersion.geolocalisation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localisation__Longitude__s</field>
            <value>
                <elementReference>Get_EntityVersion.geolocalisation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_EntityVersion.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership</field>
            <value>
                <elementReference>Get_EntityVersion.ownership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_EntityVersion.parentEntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_EntityVersion.phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCSCity__c</field>
            <value>
                <elementReference>Get_EntityVersion.RCSCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCSNumber__c</field>
            <value>
                <elementReference>Get_EntityVersion.RCSNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIREN__c</field>
            <value>
                <elementReference>Get_EntityVersion.SIREN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIRET__c</field>
            <value>
                <elementReference>Get_EntityVersion.SIRET__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Get_EntityVersion.webSite__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>complementAdresse__c</field>
            <value>
                <elementReference>Get_EntityVersion.addressSupplement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contactParDefaut__c</field>
            <value>
                <elementReference>Get_EntityVersion.contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>emailPro__c</field>
            <value>
                <elementReference>Get_EntityVersion.email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>endDate__c</field>
            <value>
                <elementReference>Get_EntityVersion.endDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>facebook__c</field>
            <value>
                <elementReference>Get_EntityVersion.facebook__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>google__c</field>
            <value>
                <elementReference>Get_EntityVersion.google__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>image__c</field>
            <value>
                <elementReference>Get_EntityVersion.image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>instagram__c</field>
            <value>
                <elementReference>Get_EntityVersion.instagram__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>intracommunityVATNumber__c</field>
            <value>
                <elementReference>Get_EntityVersion.intracommunityVATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>linkedIn__c</field>
            <value>
                <elementReference>Get_EntityVersion.linkedin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pinterest__c</field>
            <value>
                <elementReference>Get_EntityVersion.pinterest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shareCapital__c</field>
            <value>
                <elementReference>Get_EntityVersion.shareCapital__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stageName__c</field>
            <value>
                <elementReference>Get_EntityVersion.stageName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>startDate__c</field>
            <value>
                <elementReference>Get_EntityVersion.startDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>twitter__c</field>
            <value>
                <elementReference>Get_EntityVersion.twitter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>youtube__c</field>
            <value>
                <elementReference>Get_EntityVersion.youtube__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>65</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>Is_Debug</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
