force-app/main/default/flows/Entitlement_Commande_Client_Actif_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addGarantieToGarantieList</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1569</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1016</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1011</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1009</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1007</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0_0_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1009</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0_0_0_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1008</locationX>
        <locationY>1108</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0_0_0_0_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1009</locationX>
        <locationY>1240</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0_0_0_0_0_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1010</locationX>
        <locationY>1386</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Garantie_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGarantieToGarantieList_0_0_0_0_0_0_0_0_0</name>
        <label>Add Garantie To GarantieList</label>
        <locationX>1010</locationX>
        <locationY>1520</locationY>
        <assignmentItems>
            <assignToReference>GarantieList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Debug</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_1</name>
        <label>Création Garantie 1</label>
        <locationX>829</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Garantie_champs_communs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_10</name>
        <label>Création Garantie 10</label>
        <locationX>849</locationX>
        <locationY>1444</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_2</name>
        <label>Création Garantie 2</label>
        <locationX>841</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_3_0</name>
        <label>Création Garantie 3</label>
        <locationX>842</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_4</name>
        <label>Création Garantie 4</label>
        <locationX>841</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_5</name>
        <label>Création Garantie 5</label>
        <locationX>844</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_6</name>
        <label>Création Garantie 6</label>
        <locationX>844</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_7</name>
        <label>Création Garantie 7</label>
        <locationX>845</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie7__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_8</name>
        <label>Création Garantie 8</label>
        <locationX>849</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie8__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_9</name>
        <label>Création Garantie 9</label>
        <locationX>850</locationX>
        <locationY>1307</locationY>
        <assignmentItems>
            <assignToReference>Warranty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleGarantie9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.KparKReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeGarantie9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.libelleCategorieGarantie9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.categoryReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.codeCategorieGarantie9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.dureeGarantie9__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_Asset</name>
        <label>Création Garantie Asset</label>
        <locationX>1344</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>Warranty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeGarantieAssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.orderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_champs_communs</name>
        <label>Création Garantie (champs communs)</label>
        <locationX>1017</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>Warranty.customerOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItem.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.orderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Garantie</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_d_enregistrement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Garantie_Contrat</name>
        <label>Création Garantie Contrat</label>
        <locationX>1449</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>Warranty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeGarantieContratId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Warranty.AssetId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>addGarantieToGarantieList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_QLI_Id</name>
        <label>Check QLI Id</label>
        <locationX>381</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>QLI_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItem.QuoteLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_QLI</targetReference>
            </connector>
            <label>QLI Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_1</name>
        <label>Garantie 1?</label>
        <locationX>628</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>Garantie_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie1__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_1</targetReference>
            </connector>
            <label>Si Garantie 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_10</name>
        <label>Garantie 10?</label>
        <locationX>640</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie10__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_10</targetReference>
            </connector>
            <label>Si Garantie 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_2</name>
        <label>Garantie 2 ?</label>
        <locationX>626</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeCategorieGarantie2__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_2</targetReference>
            </connector>
            <label>Si Garantie 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_3</name>
        <label>Garantie 3?</label>
        <locationX>621</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie3__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_3_0</targetReference>
            </connector>
            <label>Si Garantie 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_4</name>
        <label>Garantie 4?</label>
        <locationX>625</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie4__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_4</targetReference>
            </connector>
            <label>Si Garantie 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_5</name>
        <label>Garantie 5?</label>
        <locationX>628</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie5__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_5</targetReference>
            </connector>
            <label>Si Garantie 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_6</name>
        <label>Garantie 6?</label>
        <locationX>627</locationX>
        <locationY>844</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie6__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_6</targetReference>
            </connector>
            <label>Si Garantie 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_7</name>
        <label>Garantie 7?</label>
        <locationX>632</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie7__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_7</targetReference>
            </connector>
            <label>Si Garantie 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_8</name>
        <label>Garantie 8?</label>
        <locationX>637</locationX>
        <locationY>1117</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie8__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_8</targetReference>
            </connector>
            <label>Si Garantie 8</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie_9</name>
        <label>Garantie 9?</label>
        <locationX>640</locationX>
        <locationY>1257</locationY>
        <defaultConnector>
            <targetReference>Is_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Garantie_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.codeGarantie9__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_9</targetReference>
            </connector>
            <label>Si Garantie 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Debug</name>
        <label>Is Debug</label>
        <locationX>205</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Is_Debug_Mode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Warranties_Debug</targetReference>
            </connector>
            <label>Is Debug Mode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_d_enregistrement</name>
        <label>Type d&apos;enregistrement?</label>
        <locationX>1156</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>Creation_Garantie_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Garantie Actif</defaultConnectorLabel>
        <rules>
            <name>Garantie_Contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Garantie_Contrat</targetReference>
            </connector>
            <label>Garantie Contrat</label>
        </rules>
    </decisions>
    <description>Garantie - Création des garanties par lignes de commande client/Actif</description>
    <interviewLabel>Entitlement - Contrat/Actif - Création {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement - Commande Client/Actif - Création</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Warranties_Debug</name>
        <label>Create Warranties / Debug</label>
        <locationX>50</locationX>
        <locationY>1075</locationY>
        <inputReference>GarantieList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_QLI</name>
        <label>get QLI</label>
        <locationX>516</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Garantie_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderItem.QuoteLineItemId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>QuoteLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>codeCategorieGarantie1__c</queriedFields>
        <queriedFields>codeCategorieGarantie10__c</queriedFields>
        <queriedFields>codeCategorieGarantie2__c</queriedFields>
        <queriedFields>codeCategorieGarantie3__c</queriedFields>
        <queriedFields>codeCategorieGarantie4__c</queriedFields>
        <queriedFields>codeCategorieGarantie5__c</queriedFields>
        <queriedFields>codeCategorieGarantie6__c</queriedFields>
        <queriedFields>codeCategorieGarantie7__c</queriedFields>
        <queriedFields>codeCategorieGarantie8__c</queriedFields>
        <queriedFields>codeCategorieGarantie9__c</queriedFields>
        <queriedFields>codeGarantie1__c</queriedFields>
        <queriedFields>codeGarantie10__c</queriedFields>
        <queriedFields>codeGarantie2__c</queriedFields>
        <queriedFields>codeGarantie3__c</queriedFields>
        <queriedFields>codeGarantie4__c</queriedFields>
        <queriedFields>codeGarantie5__c</queriedFields>
        <queriedFields>codeGarantie6__c</queriedFields>
        <queriedFields>codeGarantie7__c</queriedFields>
        <queriedFields>codeGarantie8__c</queriedFields>
        <queriedFields>codeGarantie9__c</queriedFields>
        <queriedFields>dureeGarantie1__c</queriedFields>
        <queriedFields>dureeGarantie10__c</queriedFields>
        <queriedFields>dureeGarantie2__c</queriedFields>
        <queriedFields>dureeGarantie3__c</queriedFields>
        <queriedFields>dureeGarantie4__c</queriedFields>
        <queriedFields>dureeGarantie5__c</queriedFields>
        <queriedFields>dureeGarantie6__c</queriedFields>
        <queriedFields>dureeGarantie7__c</queriedFields>
        <queriedFields>dureeGarantie8__c</queriedFields>
        <queriedFields>dureeGarantie9__c</queriedFields>
        <queriedFields>libelleCategorieGarantie1__c</queriedFields>
        <queriedFields>libelleCategorieGarantie10__c</queriedFields>
        <queriedFields>libelleCategorieGarantie2__c</queriedFields>
        <queriedFields>libelleCategorieGarantie3__c</queriedFields>
        <queriedFields>libelleCategorieGarantie4__c</queriedFields>
        <queriedFields>libelleCategorieGarantie5__c</queriedFields>
        <queriedFields>libelleCategorieGarantie6__c</queriedFields>
        <queriedFields>libelleCategorieGarantie7__c</queriedFields>
        <queriedFields>libelleCategorieGarantie8__c</queriedFields>
        <queriedFields>libelleCategorieGarantie9__c</queriedFields>
        <queriedFields>libelleGarantie1__c</queriedFields>
        <queriedFields>libelleGarantie2__c</queriedFields>
        <queriedFields>libelleGarantie10__c</queriedFields>
        <queriedFields>libelleGarantie3__c</queriedFields>
        <queriedFields>libelleGarantie4__c</queriedFields>
        <queriedFields>libelleGarantie5__c</queriedFields>
        <queriedFields>libelleGarantie6__c</queriedFields>
        <queriedFields>libelleGarantie7__c</queriedFields>
        <queriedFields>libelleGarantie8__c</queriedFields>
        <queriedFields>libelleGarantie9__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>235</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>Check_QLI_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ContractLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>DebugMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GarantieList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <description>Element de commande client</description>
        <name>OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordTypeGarantieAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeGarantieContratId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Warranty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
</Flow>
