force-app/main/default/flows/FSL_CreationCompetenceRequiseWorkTypePartie2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IF_workTypeId_not_null</name>
        <label>IF workTypeId not null</label>
        <locationX>241</locationX>
        <locationY>250</locationY>
        <defaultConnectorLabel>[Résultat par défaut]</defaultConnectorLabel>
        <rules>
            <name>WorkTypeNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tmp_skillId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>developerName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Creation_Skill_Requirement</targetReference>
            </connector>
            <label>WorkTypeNotNull</label>
        </rules>
    </decisions>
    <description>CGI - FSL : Création automatique d&apos;une compétence requise attachée lors de la création d&apos;un work type</description>
    <formulas>
        <name>developerName</name>
        <dataType>String</dataType>
        <expression>IF ( Contains( {!workType.workTypeId__c} , &quot;WKT/&quot;), SUBSTITUTE( {!workType.workTypeId__c},  &quot;WKT/&quot;,  &quot;SKL_&quot; ) ,{!workType.workTypeId__c})</expression>
    </formulas>
    <interviewLabel>FSL_Création de la compétence requise du Work Type - Partie 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_Création de la compétence requise du Work Type - Partie 2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creation_Skill_Requirement</name>
        <label>Creation Skill Requirement</label>
        <locationX>327</locationX>
        <locationY>375</locationY>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>tmp_skillId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Skill</name>
        <label>Lookup Work Type</label>
        <locationX>239</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_workTypeId_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>developerName</elementReference>
            </value>
        </filters>
        <object>Skill</object>
        <outputAssignments>
            <assignToReference>tmp_skillId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Type</name>
        <label>Lookup Work Type</label>
        <locationX>241</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>workType.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workType.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workType.workTypeId__c</assignToReference>
            <field>workTypeId__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Work_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>skill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>tmp_skillId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
