force-app/main/default/flows/FSL_Suppression_Skill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Ajout de l&apos;Id de la compétence de la ressource dans la liste des compétences à supprimer.</description>
        <name>Skill_Resource</name>
        <label>Skill_Resource</label>
        <locationX>515</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>Skills_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>One_Skill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_ResourceSkills</targetReference>
        </connector>
    </assignments>
    <description>CGI - FSL : Suppression des compétences d&apos;une ressource suite à un changement de métier.</description>
    <interviewLabel>FSL_Suppression_Skill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_Suppression_Skill</label>
    <loops>
        <description>Liste de toutes les compétences de la ressource.</description>
        <name>All_ResourceSkills</name>
        <label>All_ResourceSkills</label>
        <locationX>515</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>One_Skill</assignNextValueToReference>
        <collectionReference>All_Skills_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Skill_ToDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Liste de toutes les compétences de la ressource à supprimer.</description>
        <name>Skill_ToDelete</name>
        <label>Skill_ToDelete</label>
        <locationX>271</locationX>
        <locationY>225</locationY>
        <assignNextValueToReference>iter_Skill</assignNextValueToReference>
        <collectionReference>Skills_Delete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FSL_FermerCompetences</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup sur les compétences de la ressource ( ServiceResourceSkill).</description>
        <name>Competences_Ressources</name>
        <label>Competences_Ressources</label>
        <locationX>515</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_ResourceSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_ressource</elementReference>
            </value>
        </filters>
        <object>ServiceResourceSkill</object>
        <outputReference>All_Skills_Resource</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FSL_FermerCompetences</name>
        <label>Fermer les compétences</label>
        <locationX>271</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Skill_ToDelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iter_Skill.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EffectiveEndDate</field>
            <value>
                <elementReference>Date_End_Comp</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResourceSkill</object>
    </recordUpdates>
    <startElementReference>Competences_Ressources</startElementReference>
    <status>Active</status>
    <variables>
        <description>Liste de toutes les compétences de la ressource à supprimer.</description>
        <name>All_Skills_Resource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <name>Date_End_Comp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la ressource.</description>
        <name>Id_ressource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>itérateur sur la liste des compétences à supprimer.</description>
        <name>iter_Skill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <description>itérateur dur la liste des compétences de la ressource.</description>
        <name>One_Skill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <description>Variable contenant l&apos;Id de la compétence de la ressource à supprimer.</description>
        <name>Skills_Delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
</Flow>
