force-app/main/default/flows/FSL_createSkillRequirement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Skill_data</name>
        <label>Assign Skill data</label>
        <locationX>140</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>skill.MasterLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>skill.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>developerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Skill</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IF_workTypeId_not_null</name>
        <label>IF workTypeId not null</label>
        <locationX>305</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>[Résultat par défaut]</defaultConnectorLabel>
        <rules>
            <name>WorkTypeNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workType.workTypeId__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>workType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_data</targetReference>
            </connector>
            <label>WorkTypeNotNull</label>
        </rules>
    </decisions>
    <description>CGI - FSL : Création automatique d&apos;une compétence requise attachée lors de la création d&apos;un work type</description>
    <formulas>
        <name>developerName</name>
        <dataType>String</dataType>
        <expression>IF ( Contains( {!workType.workTypeId__c} , &quot;WKT/&quot;), SUBSTITUTE( {!workType.workTypeId__c},  &quot;WKT/&quot;,  &quot;SKL_&quot; ) ,{!workType.workTypeId__c})</expression>
    </formulas>
    <interviewLabel>FSL_Création de la compétence requise du Work Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_Création de la compétence requise du Work Type</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Skill</name>
        <label>Create Skill</label>
        <locationX>140</locationX>
        <locationY>331</locationY>
        <assignRecordIdToReference>tmp_skillId</assignRecordIdToReference>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <elementReference>skill.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <elementReference>skill.MasterLabel</elementReference>
            </value>
        </inputAssignments>
        <object>Skill</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Work_Type</name>
        <label>Lookup Work Type</label>
        <locationX>296</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_workTypeId_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>workType.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workType.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workType.workTypeId__c</assignToReference>
            <field>workTypeId__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Work_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>skill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>tmp_skillId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
