force-app/main/default/flows/FSL_AssignationRecordTypeTerritoire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>CGI - FSL : Attribution à un territoire d&apos;un type d&apos;enregistrement à partir du nom</description>
    <interviewLabel>FSL_Assignation du RecordType au Territoire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_Assignation du RecordType au Territoire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Horaire_Standard_Lookup</name>
        <label>Horaire_Standard_Lookup</label>
        <locationX>309</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attribution_RecordType_Territoire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_HoraireStandardNom</elementReference>
            </value>
        </filters>
        <object>OperatingHours</object>
        <outputReference>HoraireStandardId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>306</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Horaire_Standard_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_RecordTypeNom</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceTerritory</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Attribution_RecordType_Territoire</name>
        <label>Attribution du RecordType au Territoire</label>
        <locationX>311</locationX>
        <locationY>367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_TerroireId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OperatingHoursId</field>
            <value>
                <elementReference>HoraireStandardId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceTerritory</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Identifiant du calendrier standard</description>
        <name>HoraireStandardId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OperatingHours</objectType>
    </variables>
    <variables>
        <description>Nom du calendrier standard</description>
        <name>in_HoraireStandardNom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nom du type d&apos;enregistrement à assigner</description>
        <name>in_RecordTypeNom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identifiant du territoire à modifier</description>
        <name>in_TerroireId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <description>Identifiant du type d&apos;enregistrement à attribuer</description>
        <name>RecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
