force-app/main/default/flows/HISTO_Processus_reprise_garantie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_WarrantyLines</name>
        <label>Add to WarrantyLines</label>
        <locationX>182</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>WarrantyLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Warranty_Lines_OrderItems.GarantieList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Warranty_Lines_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copier_1_sur_Add_to_WarrantyLines</name>
        <label>Add to WarrantyLines</label>
        <locationX>50</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>WarrantyLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Warranty_Lines_Asset.GarantieList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Warranties_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AssetWarrantyLines</name>
        <label>Check AssetWarrantyLines</label>
        <locationX>182</locationX>
        <locationY>1476</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_AssetWarrantyLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Warranty_Lines_Asset.GarantieList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Add_to_WarrantyLines</targetReference>
            </connector>
            <label>Has AssetWarrantyLines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_QLI_and_no_Warranties</name>
        <label>Check if QLI and no Warranties</label>
        <locationX>611</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>No QLI</defaultConnectorLabel>
        <rules>
            <name>Has_QLI_and_no_warranties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderItem.QuoteLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OrderItem_Entitlements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QLI</targetReference>
            </connector>
            <label>Has QLI and no warranties</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OrderItemWarrantyLines</name>
        <label>Check OrderItemWarrantyLines</label>
        <locationX>380</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_OrderItemWarrantyLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Warranty_Lines_OrderItems.GarantieList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_WarrantyLines</targetReference>
            </connector>
            <label>Has OrderItemWarrantyLines</label>
        </rules>
    </decisions>
    <description>Processus pour calculer les garanties des lignes de commande et des actifs historique selon les lignes de devis Sales
NE PAS SUPPRIMER</description>
    <interviewLabel>HISTO - Processus reprise garantie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HISTO - Processus reprise garantie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Warranties_Records</name>
        <label>Create Warranties Records</label>
        <locationX>50</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Calculate_Asset_Warranty</targetReference>
        </connector>
        <inputReference>WarrantyLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AssetWarranty_RTID</name>
        <label>Get AssetWarranty RTID</label>
        <locationX>380</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderWarranty_RTID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AssetWarranty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItem</name>
        <label>Get OrderItem</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderItem_Entitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.orderItem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItem_Entitlements</name>
        <label>Get OrderItem Entitlements</label>
        <locationX>611</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_QLI_and_no_Warranties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>orderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.orderItem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderWarranty_RTID</name>
        <label>Get OrderWarranty RTID</label>
        <locationX>380</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Warranty_Lines_OrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderWarranty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QLI</name>
        <label>Get QLI</label>
        <locationX>380</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssetWarranty_RTID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OrderItem.QuoteLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isLegacy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>cancellingReason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-21</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Asset_Warranty</name>
        <label>Calculate Asset Warranty</label>
        <locationX>50</locationX>
        <locationY>1836</locationY>
        <flowName>Order_Customer_Gestion_des_garanties</flowName>
        <inputAssignments>
            <name>ActualAssetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>$Record.customerOrder__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Warranty_Lines_Asset</name>
        <label>Create Warranty Lines - Asset</label>
        <locationX>182</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>Check_AssetWarrantyLines</targetReference>
        </connector>
        <flowName>Entitlement_Commande_Client_Actif_Creation</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Asset</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItem</name>
            <value>
                <elementReference>Get_OrderItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeGarantieAssetId</name>
            <value>
                <elementReference>Get_AssetWarranty_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeGarantieContratId</name>
            <value>
                <elementReference>Get_OrderWarranty_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Warranty_Lines_OrderItems</name>
        <label>Create Warranty Lines - OrderItems</label>
        <locationX>380</locationX>
        <locationY>996</locationY>
        <connector>
            <targetReference>Check_OrderItemWarrantyLines</targetReference>
        </connector>
        <flowName>Entitlement_Commande_Client_Actif_Creation</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItem</name>
            <value>
                <elementReference>Get_OrderItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeGarantieAssetId</name>
            <value>
                <elementReference>Get_AssetWarranty_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeGarantieContratId</name>
            <value>
                <elementReference>Get_OrderWarranty_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>WarrantyLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
</Flow>
