force-app/main/default/flows/Invoice_CreateProformaInvoiceWizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Send_PDF</name>
        <label>Create &amp; Send PDF</label>
        <locationX>3309</locationX>
        <locationY>574</locationY>
        <actionName>IV_CreateAndSendInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sendPDF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>generatePDF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewInvoiceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docType</name>
            <value>
                <elementReference>DocumentPDFType</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_NewInvoiceLine_Asset</name>
        <label>Get NewInvoiceLine / Asset</label>
        <locationX>2938</locationX>
        <locationY>90</locationY>
        <actionName>IV_GetValueFromMapRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>createChildInvoiceLine</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputValue</typeName>
            <typeValue>InvoiceLine__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>FE_ChildAsset.ParentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowMap</name>
            <value>
                <elementReference>Map_NewInvoiceLines_Asset.flowMap</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_OptionsAsset</name>
        <label>Get OptionsAsset</label>
        <locationX>2140</locationX>
        <locationY>531</locationY>
        <actionName>IV_FlowINClauseActionClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopForAssetSelected</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>filteringValuesCollection</name>
            <value>
                <elementReference>AssetIdsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Name, Product2Id, ParentId, orderItem__c, orderItem__r.UnitPrice, orderItem__r.VATRate__c, orderItem__r.VATAmount__c, unit__c, Product2.Name, Status, orderItem__r.Quantity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>ParentId</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Map_NewInvoiceLines_Asset</name>
        <label>Map NewInvoiceLines / Asset</label>
        <locationX>2789</locationX>
        <locationY>421</locationY>
        <actionName>IV_CreateFlowMapRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FE_ChildAsset</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>InvoiceLine__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_New_InvoicesLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyField</name>
            <value>
                <stringValue>asset__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addToChildInvoiceLineList</name>
        <label>Add to Child InvoiceLineList</label>
        <locationX>3101</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineChildList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_ChildAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToParentInvoiceLineListOrder</name>
        <label>Add to Parent InvoiceLineList</label>
        <locationX>2396</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineParentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Value</name>
        <label>Assign Asset Value</label>
        <locationX>1671</locationX>
        <locationY>1056</locationY>
        <assignmentItems>
            <assignToReference>AssetIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_AssetsInvoicable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetsNotInvoiced</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_AssetsInvoicable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_AssetsInvoicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_AdvancePayment1</name>
        <label>Assign Variables AdvancePayment1</label>
        <locationX>1466</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>CustomerOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomerOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomerOrder.advancePaymentAmount1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentPDFType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facture Proforma acompte 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invoiceInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_AdvancePayment1and2</name>
        <label>Assign Variables AdvancePayment1and2</label>
        <locationX>1366</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>CustomerOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomerOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdvancePayment1And2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentPDFType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facture Proforma acompte 1 et 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invoiceInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_AdvancePayment2</name>
        <label>Assign Variables AdvancePayment2</label>
        <locationX>1438</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>CustomerOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomerOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomerOrder.advancePaymentAmount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentPDFType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facture Proforma acompte 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invoiceInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderItemEmpty_0</name>
        <label>assignOrderItemEmpty</label>
        <locationX>1240</locationX>
        <locationY>1239</locationY>
        <assignmentItems>
            <assignToReference>assetEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_billable_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createChildInvoiceLine</name>
        <label>Create Child InvoiceLine</label>
        <locationX>3103</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>InvoiceLine.orderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_ChildAsset.orderItem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_ChildAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FE_ChildAsset.unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.parentLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NewInvoiceLine_Asset.outputValue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToChildInvoiceLineList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createParentInvoiceLineOrder</name>
        <label>Create Parent InvoiceLine</label>
        <locationX>2192</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>InvoiceLine.orderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForAssetSelected.orderItem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLine.asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForAssetSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToParentInvoiceLineListOrder</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acompte1And2ChooseValue</name>
        <choiceText>Les deux acomptes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Les deux acomptes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Acompte1ChooseValue</name>
        <choiceText>Acompte 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acompte 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Acompte2ChooseValue</name>
        <choiceText>Acompte 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acompte 2</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Advance_Payment_Selection</name>
        <label>Advance Payment Selection</label>
        <locationX>1206</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables_AdvancePayment1and2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AdvancePayment1And2</defaultConnectorLabel>
        <rules>
            <name>AdvancePayment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdvancePaymentChoose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Acompte1ChooseValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_AdvancePayment1</targetReference>
            </connector>
            <label>AdvancePayment1</label>
        </rules>
        <rules>
            <name>AdvancePayment2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdvancePaymentChoose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Acompte2ChooseValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_AdvancePayment2</targetReference>
            </connector>
            <label>AdvancePayment2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_billable_lines</name>
        <label>Check billable lines</label>
        <locationX>1320</locationX>
        <locationY>1054</locationY>
        <defaultConnector>
            <targetReference>FE_AssetsInvoicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BillableLines</defaultConnectorLabel>
        <rules>
            <name>NoBillableLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Billable_Lines</targetReference>
            </connector>
            <label>NoBillableLines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ChildAsset_Status</name>
        <label>Check ChildAsset Status</label>
        <locationX>2940</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>FE_ChildAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled</defaultConnectorLabel>
        <rules>
            <name>NotCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FE_ChildAsset.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annulé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FE_ChildAsset.orderItem__r.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NewInvoiceLine_Asset</targetReference>
            </connector>
            <label>NotCancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OrderAdvancePayment</name>
        <label>Check OrderAdvancePayment</label>
        <locationX>1485</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>AdvancePaymentChooseScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>One_AdvancePayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CustomerOrder.advancePaymentAmount1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CustomerOrder.advancePaymentAmount2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_AdvancePayment1</targetReference>
            </connector>
            <label>One AdvancePayment</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssetEmpty</name>
        <label>isAssetEmpty</label>
        <locationX>1097</locationX>
        <locationY>1071</locationY>
        <defaultConnector>
            <targetReference>Check_billable_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAssetEmptyOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrderItemEmpty_0</targetReference>
            </connector>
            <label>isAssetEmptyOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssetNull_0_0</name>
        <label>isAssetNull</label>
        <locationX>2793</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>Map_NewInvoiceLines_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAssetNullOK_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetIdsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_InvoiceLines</targetReference>
            </connector>
            <label>isAssetNullOK</label>
        </rules>
    </decisions>
    <description>Facture - Assistant de création de facture Proforma depuis une commande client. La facture est créée temporairement pour générer le PDF et le lié à la commande client.</description>
    <formulas>
        <name>AdvancePayment1And2</name>
        <dataType>Currency</dataType>
        <expression>{!Get_CustomerOrder.advancePaymentAmount1__c} + {!Get_CustomerOrder.advancePaymentAmount2__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CustomerBillingAddress</name>
        <dataType>String</dataType>
        <expression>{!CustomerOrder.BillingStreet}&amp;&quot; &quot;&amp;{!CustomerOrder.BillingPostalCode}&amp;&quot; &quot;&amp;{!CustomerOrder.BillingCity}&amp;&quot; &quot;&amp;{!CustomerOrder.BillingCountry}</expression>
    </formulas>
    <formulas>
        <name>CustomerShippingAddress</name>
        <dataType>String</dataType>
        <expression>{!CustomerOrder.ShippingStreet}&amp;&quot; &quot;&amp;{!CustomerOrder.ShippingPostalCode}&amp;&quot; &quot;&amp;{!CustomerOrder.ShippingCity}&amp;&quot; &quot;&amp;{!CustomerOrder.ShippingCountry}</expression>
    </formulas>
    <formulas>
        <name>InvoicePretaxAmount</name>
        <dataType>Currency</dataType>
        <expression>ROUND( {!InvoiceAmount} - {!InvoiceVATAmount}, 2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InvoiceVATAmount</name>
        <dataType>Currency</dataType>
        <expression>ROUND( ({!CustomerOrder.VATAmount__c} * {!PercentOrderAmount}) / 100, 2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PercentOrderAmount</name>
        <dataType>Number</dataType>
        <expression>({!InvoiceAmount} * 100) / {!CustomerOrder.amount__c}</expression>
        <scale>15</scale>
    </formulas>
    <interviewLabel>Facture - Création facture Proforma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facture - Création facture Proforma</label>
    <loops>
        <name>FE_AssetsInvoicable</name>
        <label>For Each AssetsInvoicable</label>
        <locationX>1539</locationX>
        <locationY>1056</locationY>
        <collectionReference>Get_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_OrderAdvancePayment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_ChildAsset</name>
        <label>For Each ChildAsset</label>
        <locationX>2951</locationX>
        <locationY>421</locationY>
        <collectionReference>Get_OptionsAsset.records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ChildAsset_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_InvoiceLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopForAssetSelected</name>
        <label>Loop For Asset Selected</label>
        <locationX>2293</locationX>
        <locationY>523</locationY>
        <collectionReference>AssetsNotInvoiced</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createParentInvoiceLineOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Parent_InvoiceLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_InvoiceLines</name>
        <label>Create Child InvoiceLines</label>
        <locationX>3096</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Send_PDF</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <inputReference>newInvoiceLineChildList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_InvoiceLines</name>
        <label>Create Parent InvoiceLines</label>
        <locationX>2478</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Get_New_InvoicesLines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <inputReference>newInvoiceLineParentList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createInvoice</name>
        <label>Create Invoice</label>
        <locationX>1862</locationX>
        <locationY>538</locationY>
        <assignRecordIdToReference>NewInvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_NewInvoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RTAdvanceInvoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>InvoiceAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>autoComputedAmount__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billingAccount__c</field>
            <value>
                <elementReference>CustomerOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customerOrder__c</field>
            <value>
                <elementReference>CustomerOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>percentOrderAmount__c</field>
            <value>
                <elementReference>PercentOrderAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pretaxAmount__c</field>
            <value>
                <elementReference>InvoicePretaxAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>Brouillon</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Invoice</name>
        <label>Delete Invoice</label>
        <locationX>3480</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>endOfFlow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <inputReference>Get_NewInvoice</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>951</locationX>
        <locationY>1069</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAssetEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CustomerOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CustomerOrder</name>
        <label>Get CustomerOrder</label>
        <locationX>787</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_InvoicesLines</name>
        <label>Get New InvoicesLines</label>
        <locationX>2617</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAssetNull_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewInvoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NewInvoice</name>
        <label>Get New Invoice</label>
        <locationX>1997</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OptionsAsset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewInvoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RTAdvanceInvoice</name>
        <label>Get RTAdvanceInvoice</label>
        <locationX>1730</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createInvoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Invoice2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdvanceInvoice</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Cancel_Invoice</name>
        <label>Cancel Invoice</label>
        <locationX>2923</locationX>
        <locationY>963</locationY>
        <connector>
            <targetReference>FlowError_0_0_0</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Cancel_Invoice2</name>
        <label>Cancel Invoice</label>
        <locationX>1773</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>FlowError_0_0</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AdvancePaymentChooseScreen</name>
        <label>Advance Payment Choose</label>
        <locationX>1219</locationX>
        <locationY>835</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Advance_Payment_Selection</targetReference>
        </connector>
        <fields>
            <name>AdvancePaymentChoose</name>
            <choiceReferences>Acompte1ChooseValue</choiceReferences>
            <choiceReferences>Acompte2ChooseValue</choiceReferences>
            <choiceReferences>Acompte1And2ChooseValue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quel acompte doit être utilisé pour le montant de la facture ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>endOfFlow</name>
        <label>Flux Terminé</label>
        <locationX>3615</locationX>
        <locationY>584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(22, 160, 4);&quot;&gt;Le PDF de facture a bien été créée et lié à la commande client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowError_0_0</name>
        <label>Erreur</label>
        <locationX>1978</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowError_0_0_0</name>
        <label>Erreur</label>
        <locationX>2924</locationX>
        <locationY>1108</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>invoiceInfo</name>
        <label>invoiceInfo</label>
        <locationX>1613</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_RTAdvanceInvoice</targetReference>
        </connector>
        <fields>
            <name>invoiceData</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Information concernant la facture&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>infoFac</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nom client : &lt;/strong&gt;{!CustomerOrder.billingName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Adresse client : &lt;/strong&gt;{!CustomerBillingAddress}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Adresse chantier : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!CustomerShippingAddress}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Montant HT : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!InvoicePretaxAmount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Montant TVA : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!InvoiceVATAmount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Montant TTC : &lt;/strong&gt;{!InvoiceAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Billable_Lines</name>
        <label>No Billable Lines</label>
        <locationX>1396</locationX>
        <locationY>1243</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoBillableLineText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Facture impossible. Aucun actif ou ligne de commande facturable&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255); font-family: Calibri, &amp;quot;Segoe UI&amp;quot;, Calibri, Thonburi, Arial, Verdana, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;;&quot;&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>359</locationX>
        <locationY>1052</locationY>
        <connector>
            <targetReference>Get_CustomerOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assetEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AssetIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetsNotInvoiced</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CustomerOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>DocumentPDFType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>NewInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newInvoiceLineChildList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>newInvoiceLineParentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
