force-app/main/default/flows/Invoice_avoir_commercial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>avoirCommercialApex</name>
        <label>avoirCommercialApex</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>IV_InsertCommercialCreditMemo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_NewCreditMemo</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>creditMemoDate</name>
            <value>
                <elementReference>CreditMemoDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Invoice_Data.customerOrder__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>CreditMemoLineLabel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>CreditMemoAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>CreditMemoReason</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreditMemoId</assignToReference>
            <name>creditMemoId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open_CreditMemo</name>
        <label>Open CreditMemo</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewCreditMemo.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>Facture - Création d&apos;un avoir sur la totalité de la commande client liée à la facture</description>
    <dynamicChoiceSets>
        <name>pickListReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>reason__c</picklistField>
        <picklistObject>CreditMemoLine__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Facture - Création avoir commercial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facture - Avoir commercial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoice_Data</name>
        <label>Get Invoice Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>avoirCommercialApex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NewCreditMemo</name>
        <label>Get_NewCreditMemo</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditMemoId</elementReference>
            </value>
        </filters>
        <object>CreditMemo__c</object>
        <outputReference>NewCreditMemo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>avoirCommercial</name>
        <label>avoirCommercial</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Invoice_Data</targetReference>
        </connector>
        <fields>
            <name>CreditMemoAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Montant de l&apos;avoir</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>CreditMemoReason</name>
            <choiceReferences>pickListReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Raison de l&apos;avoir</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CreditMemoLineLabel</name>
            <dataType>String</dataType>
            <fieldText>Libellé de la ligne d&apos;avoir</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InputMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Si la date d&apos;avoir est renseignée, une référence comptable sera associée à l&apos;avoir qui ne pourra plus être modifiée.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditMemoDate</name>
            <dataType>Date</dataType>
            <fieldText>Date de l&apos;avoir</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_CreditMemo</targetReference>
        </connector>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(22, 166, 3);&quot;&gt;L&apos;avoir {!NewCreditMemo.Name} a bien été créé.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>avoirCommercial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreditMemoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCreditMemo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditMemo__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
