force-app/main/default/flows/JBSystemFlow_ServiceAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_FireJBTrigger</name>
        <label>SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510000572</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;ServiceAppointment:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;nom__c&quot;,&quot;email__c&quot;,&quot;PersonEmail&quot;,&quot;AccountNumber&quot;,&quot;PersonContactId&quot;,&quot;autreTelephone__c&quot;,&quot;telephoneMobile__c&quot;,&quot;telephoneDomicile__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Order&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;customerOrder__r&quot;,&quot;dePrefix&quot;:&quot;ServiceAppointment:customerOrder__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AccountId&quot;,&quot;OrderNumber&quot;,&quot;parentOrder__c&quot;,&quot;OriginalOrderId&quot;,&quot;advancePaymentAmount1__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ServiceAppointment:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Duration&quot;,&quot;SchedEndTime&quot;,&quot;SchedStartTime&quot;,&quot;customerOrder__c&quot;,&quot;arrivalWindowText__c&quot;,&quot;ArrivalWindowEndTime&quot;,&quot;fsl_techEmailDepot__c&quot;,&quot;fsl_montantAttendu__c&quot;,&quot;ArrivalWindowStartTime&quot;,&quot;fsl_techTelephoneDepot__c&quot;,&quot;HST_CustomerOrderNumber__c&quot;,&quot;arrivalWindowEndTimeText__c&quot;,&quot;arrivalWindowStartTimeText__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;ServiceTerritory&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ServiceTerritory&quot;,&quot;dePrefix&quot;:&quot;ServiceAppointment:ServiceTerritory:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;fsl_email__c&quot;,&quot;fsl_telephone__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_FireJBTrigger</name>
        <label>SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510000572</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;ServiceAppointment:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;nom__c&quot;,&quot;email__c&quot;,&quot;AccountNumber&quot;,&quot;PersonContactId&quot;,&quot;autreTelephone__c&quot;,&quot;telephoneMobile__c&quot;,&quot;telephoneDomicile__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ServiceAppointment:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Duration&quot;,&quot;SchedEndTime&quot;,&quot;SchedStartTime&quot;,&quot;arrivalWindowText__c&quot;,&quot;ArrivalWindowEndTime&quot;,&quot;fsl_techEmailDepot__c&quot;,&quot;fsl_montantAttendu__c&quot;,&quot;fsl_numeroContratK__c&quot;,&quot;ArrivalWindowStartTime&quot;,&quot;fsl_techTelephoneDepot__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</name>
        <label>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</name>
        <label>JB_Decision_Null_Check_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</targetReference>
            </connector>
            <label>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_Decision</name>
        <label>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  OR  (5 AND 6) )  AND  ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( (7 AND 8)  OR  (9 AND 10) )  OR  (11 AND 12) )  OR  (13 AND 14) )  OR  (15 AND 16) )  OR  (17 AND 18) )  OR  (19 AND 20) )  OR  (21 AND 22) )  OR  (23 AND 24) )  OR  (25 AND 26) )  OR  (27 AND 28) )  OR  (29 AND 30) )  OR  (31 AND 32) )  OR  (33 AND 34) )  OR  (35 AND 36) )  OR  (37 AND 38) )  OR  (39 AND 40) )  OR  (41 AND 42) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transmis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>métrage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>METRAGE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLOIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BONNEUIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NIMES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEYNOD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAINT GENIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAINT GEOURS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAINT LOUBES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARRIERES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANDELIEU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIGNANS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JOIGNY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIGNEUX DE BRETAGNE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIX EN PROVENCE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHALON SUR SAONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOULOUSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIGEAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TREMBLAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ROUEN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_State_change_Decision</name>
        <label>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transmis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_Decision</name>
        <label>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  OR  (5 AND 6) )  AND  ( (7 AND 8)  OR  (9 AND 10) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>métrage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>METRAGE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBERCOURT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REIMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_State_change_Decision</name>
        <label>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1052a36dd87e2cd04a240f2c0f3dd905</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_ServiceAppointment</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj7a53e4fa2109b7bcbd212e33f552f3bd</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
