force-app/main/default/flows/JBSystemFlow_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjb602cba53c962fc5ad9573efb9754742_FireJBTrigger</name>
        <label>SalesforceObjb602cba53c962fc5ad9573efb9754742_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb602cba53c962fc5ad9573efb9754742</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510000572</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;civilite__c&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;,&quot;telephoneMobile__c&quot;,&quot;mobilePhoneInternational__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb602cba53c962fc5ad9573efb9754742</name>
        <label>JB_Decision_Null_Check_SalesforceObjb602cba53c962fc5ad9573efb9754742</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Decision</name>
        <label>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb602cba53c962fc5ad9573efb9754742</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  And  (4 AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.premiereSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WEB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.operationCampaignLeadOfLastCallTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Absent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.mobilePhoneInternational__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb602cba53c962fc5ad9573efb9754742_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb602cba53c962fc5ad9573efb9754742</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_State_change_Decision</name>
        <label>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb602cba53c962fc5ad9573efb9754742</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.premiereSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WEB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.operationCampaignLeadOfLastCallTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Absent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb602cba53c962fc5ad9573efb9754742_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb602cba53c962fc5ad9573efb9754742</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjb602cba53c962fc5ad9573efb9754742</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
