force-app/main/default/flows/Ligne_de_commande_Type_menuiserie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Define_values_for_picklist</name>
        <label>Define values for picklist</label>
        <locationX>723</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>locationValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PC.location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leafValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PC.leaf__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CF_Screen_Edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Mise à jour des champs</description>
        <name>Update_fields</name>
        <label>Update fields</label>
        <locationX>1020</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>Get_PC.height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hauteur</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PC.width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Largeur</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PC.leaf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeafFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PC.location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PC.locationPrecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisions_de_l_emplacement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Order_RecordType</name>
        <label>Check Order RecordType</label>
        <locationX>478</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Define_values_for_picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ProviderOrder</defaultConnectorLabel>
        <rules>
            <name>isCustomerOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PC.Order.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_Screen_ReadOnly</targetReference>
            </connector>
            <label>CustomerOrder</label>
        </rules>
    </decisions>
    <description>Ligne commande - Flux d&apos;écran pour les LC de type menuiserie</description>
    <formulas>
        <name>EligibleCEECheck</name>
        <dataType>String</dataType>
        <expression>IF({!Get_PC.eligibleESC__c} == true, &apos;✔&apos;, &apos;✘&apos;)</expression>
    </formulas>
    <formulas>
        <name>LeafFormula</name>
        <dataType>String</dataType>
        <expression>IF({!leafValue} == &quot;None&quot;, &quot;&quot;, {!leafValue})</expression>
    </formulas>
    <formulas>
        <name>LocationChoiceValue</name>
        <dataType>String</dataType>
        <expression>If(IsBlank(text({!Get_PC.location__c})),&apos;Sélectionner un motif&apos;,{!locationValue})</expression>
    </formulas>
    <formulas>
        <name>LocationFormula</name>
        <dataType>String</dataType>
        <expression>IF({!locationValue} == &quot;None&quot;, &quot;&quot;, {!locationValue})</expression>
    </formulas>
    <interviewLabel>Ligne de commande - Type menuiserie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ligne de commande - Type menuiserie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PC</name>
        <label>Get PC</label>
        <locationX>390</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order_RecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PC</name>
        <label>Update PC</label>
        <locationX>1021</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Get_PC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_PC</inputReference>
    </recordUpdates>
    <screens>
        <name>CC_Screen_ReadOnly</name>
        <label>CC - Screen ReadOnly</label>
        <locationX>749</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>height_RO</name>
            <fieldText>&lt;p&gt;Hauteur&lt;/p&gt;&lt;p&gt;{!Get_PC.height__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Width_RO</name>
            <fieldText>&lt;p&gt;Largeur&lt;/p&gt;&lt;p&gt;{!Get_PC.width__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Leaf_RO</name>
            <fieldText>&lt;p&gt;Nombre de vantaux&lt;/p&gt;&lt;p&gt;{!Get_PC.leaf__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>thermalCoefficients</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Coefficients thermiques&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_PC.thermalCoefficients__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_RO</name>
            <fieldText>&lt;p&gt;Emplacement&lt;/p&gt;&lt;p&gt;{!Get_PC.location__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocationPrecision_RO</name>
            <fieldText>&lt;p&gt;Précisions de l&apos;emplacement&lt;/p&gt;&lt;p&gt;{!Get_PC.locationPrecision__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CF_Screen_Edit</name>
        <label>CF - Screen Edit</label>
        <locationX>849</locationX>
        <locationY>265</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_fields</targetReference>
        </connector>
        <fields>
            <name>Hauteur</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_PC.height__c</elementReference>
            </defaultValue>
            <fieldText>Hauteur</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Largeur</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_PC.width__c</elementReference>
            </defaultValue>
            <fieldText>Largeur</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nombre_vantaux</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Nombre de vantaux</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>leafValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>leaf__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>593.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>leafValue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EligibleCEE2</name>
            <fieldText>&lt;p&gt;Éligible CEE&lt;/p&gt;&lt;p&gt;{!EligibleCEECheck}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emplacement</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Emplacement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>LocationChoiceValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>locationValue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Precisions_de_l_emplacement</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_PC.locationPrecision__c</elementReference>
            </defaultValue>
            <fieldText>Précisions de l&apos;emplacement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>713</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>30</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Get_PC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leafValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
