force-app/main/default/flows/NCP_actif.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_DossierSAV</name>
        <label>Open DossierSAV</label>
        <locationX>2677</locationX>
        <locationY>885</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AfterSalesServiceRecord.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_CasePNCToUpdateList</name>
        <label>Add to CasePNCToUpdateList</label>
        <locationX>2564</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>CasePNCToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_PNC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_PNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CasePNCToUpdateListTmp</name>
        <label>Add to CasePNCToUpdateListTmp</label>
        <locationX>1082</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CasPNCToUpdateListTmp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WizardCreatePNC.CasePNCInternal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPNCSummaryText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WizardCreatePNC.NewPNCSummaryText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutreNCPInterneScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignInstallationCompletionDate</name>
        <label>assign installation completion date</label>
        <locationX>1882</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>installationCompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.installationCompletionDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CreateAfterSalesService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter_assets_installed</name>
        <label>counter assets installed</label>
        <locationX>949</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>counterAssetsInstalled</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter_assets_with_the_same_order</name>
        <label>counter assets with the same order</label>
        <locationX>1308</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>counterassets</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_asset_is_installed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_AfterSalesServiceRecord</name>
        <label>Create AfterSalesServiceRecord</label>
        <locationX>1718</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>AfterSalesServiceRecord.account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AfterSalesServiceRecord.workSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.chantier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AfterSalesServiceRecord.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SummaryScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_AfterSalesServiceRecord_Exist</name>
        <label>Define AfterSalesServiceRecord</label>
        <locationX>1792</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>AfterSalesServiceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterSalesServiceLookup.selectRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AfterSalesServiceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterSalesServiceLookup.selectRecordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SummaryScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_AfterSalesServiceRecordId</name>
        <label>Define AfterSalesServiceRecordId</label>
        <locationX>2071</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>AfterSalesServiceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterSalesServiceLookup.selectRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_AfterSalesService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PNC_AfterSalesService</name>
        <label>Update PNC / AfterSalesService</label>
        <locationX>2562</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>FE_PNC.afterSalesService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterSalesServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CasePNCToUpdateList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AfterSalesService</name>
        <label>Check AfterSalesService</label>
        <locationX>2245</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>NoAfterSalesService</defaultConnectorLabel>
        <rules>
            <name>Has_AfterSalesService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AfterSalesServiceRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_PNC</targetReference>
            </connector>
            <label>Has AfterSalesService</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CreateAfterSalesService</name>
        <label>Check CreateAfterSalesService</label>
        <locationX>1512</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>SelectAfterSalesServiceScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>CreateAfterSalesServiceOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateAfterSalesService.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AfterSalesServiceRecord</targetReference>
            </connector>
            <label>Create AfterSalesService</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CreateAfterSalesService_Record</name>
        <label>Check CreateAfterSalesService</label>
        <locationX>2065</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>Define_AfterSalesServiceRecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoAfterSalesService</defaultConnectorLabel>
        <rules>
            <name>CreateAfterSalesServiceOKRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateAfterSalesService.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AfterSalesService</targetReference>
            </connector>
            <label>Create AfterSalesService</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_all_assets_are_installed</name>
        <label>Check if all assets are installed</label>
        <locationX>1698</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Check_CreateAfterSalesService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>All_assets_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counterAssetsInstalled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>counterassets</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignInstallationCompletionDate</targetReference>
            </connector>
            <label>All assets ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_PNC</name>
        <label>Check Other PNC</label>
        <locationX>1183</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>AfterSalesServiceCreateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoOtherPNC</defaultConnectorLabel>
        <rules>
            <name>Create_Other_PNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonPNCOther.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WizardCreatePNC</targetReference>
            </connector>
            <label>Create Other PNC</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_asset_is_installed</name>
        <label>if asset is installed</label>
        <locationX>1300</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>for_each_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Asset_installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_each_asset.InstallDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>counter_assets_installed</targetReference>
            </connector>
            <label>Asset installed</label>
        </rules>
    </decisions>
    <description>Actif - Assistant de création de NCP interne</description>
    <interviewLabel>NCP actif {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - Assistant de création de NCP interne</label>
    <loops>
        <name>FE_PNC</name>
        <label>For each PNC</label>
        <locationX>2451</locationX>
        <locationY>683</locationY>
        <collectionReference>CasPNCToUpdateListTmp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_PNC_AfterSalesService</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PNCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_asset</name>
        <label>for each asset</label>
        <locationX>1059</locationX>
        <locationY>370</locationY>
        <collectionReference>get_all_assets_from_the_same_order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>counter_assets_with_the_same_order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_all_assets_are_installed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AfterSalesService</name>
        <label>Create AfterSalesService</label>
        <locationX>2256</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>FE_PNC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>AfterSalesServiceRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_all_assets_from_the_same_order</name>
        <label>get all assets from the same order</label>
        <locationX>1408</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_asset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.customerOrder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126E000000p9c3QAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>425</locationX>
        <locationY>796</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetComponentRT</name>
        <label>Get AssetComponentRT</label>
        <locationX>683</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CasePNCInterne</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CasePNCInterne</name>
        <label>Get CasePNCInterne</label>
        <locationX>803</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WizardCreatePNC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalProductNonCompliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>550</locationX>
        <locationY>788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssetComponentRT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.customerOrder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1498</locationX>
        <locationY>898</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>2572</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>Open_DossierSAV</targetReference>
        </connector>
        <inputReference>Get_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PNCs</name>
        <label>Update PNCs</label>
        <locationX>2453</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>CasePNCToUpdateList</inputReference>
    </recordUpdates>
    <screens>
        <name>AfterSalesServiceCreateScreen</name>
        <label>Création dossier SAV</label>
        <locationX>1340</locationX>
        <locationY>689</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_all_assets_from_the_same_order</targetReference>
        </connector>
        <fields>
            <name>CreateAfterSalesService</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Créer un nouveau dossier SAV ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AutreNCPInterneScreen</name>
        <label>Autre NCP Interne</label>
        <locationX>1192</locationX>
        <locationY>539</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Other_PNC</targetReference>
        </connector>
        <fields>
            <name>OtherNCPText</name>
            <fieldText>&lt;p&gt;Autre NCP à déclarer sur l&apos;actif &lt;strong&gt;{!Get_Asset.Name}&lt;/strong&gt; ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ButtonPNCOther</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Création d&apos;une autre NCP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1495</locationX>
        <locationY>1026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAfterSalesServiceScreen</name>
        <label>Sélection Dossier SAV</label>
        <locationX>1524</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Define_AfterSalesServiceRecord_Exist</targetReference>
        </connector>
        <fields>
            <name>AfterSalesServiceLookup</name>
            <extensionName>c:customLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AfterSalesService__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderBy</name>
                <value>
                    <stringValue>CreatedDate DESC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Rechercher dans les dossiers SAV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customFilter</name>
                <value>
                    <stringValue>workSite__c = &apos;{!Get_Asset.chantier__c}&apos; AND account__c = &apos;{!Get_Asset.AccountId}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>custom:custom45</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dossier SAV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldNameSearch</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitleField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SummaryScreen</name>
        <label>Récapitulatif</label>
        <locationX>1922</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_CreateAfterSalesService_Record</targetReference>
        </connector>
        <fields>
            <name>SummaryScreenTest</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Dossier SAV :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!AfterSalesServiceRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;NCP Interne(s) créée(s) : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!NewPNCSummaryText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Commande Client :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Date d&apos;achèvement de l&apos;installation : {!installationCompletionDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>43</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>WizardCreatePNC</name>
        <label>Assistant création NCP Interne</label>
        <locationX>953</locationX>
        <locationY>675</locationY>
        <connector>
            <targetReference>Add_to_CasePNCToUpdateListTmp</targetReference>
        </connector>
        <flowName>Assistant_de_creation_de_NCP_interne</flowName>
        <inputAssignments>
            <name>AssetComponentRTId</name>
            <value>
                <elementReference>Get_AssetComponentRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetRecord</name>
            <value>
                <elementReference>Get_Asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseItemIsRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InternalPNCRTID</name>
            <value>
                <elementReference>Get_CasePNCInterne.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AfterSalesServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AfterSalesService__c</objectType>
    </variables>
    <variables>
        <name>CasePNCInternal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasePNCToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasPNCToUpdateListTmp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>counterassets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterAssetsInstalled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>installationCompletionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAfterSalesServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPNCSummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
