force-app/main/default/flows/Opportunity_Assistant_creation_projet_rapide.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Details_Opportunity</name>
        <label>Open Details Opportunity</label>
        <locationX>1653</locationX>
        <locationY>695</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Projet.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Edit_Opportunity</name>
        <label>Open Edit Opportunity</label>
        <locationX>1473</locationX>
        <locationY>703</locationY>
        <actionName>c:OpenEditRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Open_Details_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Projet.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_values</name>
        <label>Assign Opportunity values</label>
        <locationX>620</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>Projet.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomProjetTruncated2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.autreCompte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherAccount2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.chantier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chantier2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_cloture2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.callSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountCallSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource2.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_values_CALL</name>
        <label>Assign Opportunity values - CALL</label>
        <locationX>893</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>Projet.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomProjetTruncated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.autreCompte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.chantier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chantier.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_cloture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.callSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrigineProjetCall.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.campagneCall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampagneCall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_other_fields</name>
        <label>Assign other fields</label>
        <locationX>1200</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>Projet.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analyse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nouveau</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projet.automaticCreation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_profile_user</name>
        <label>Check profile user</label>
        <locationX>768</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Nouveau_projet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IsCall</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrateur système</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - Affiliation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - Assistante Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - DC	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - FSL Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - Import</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - Marketing opérationnel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K/K - Superviseur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>K/K - TA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nouveau_projet_CALL</targetReference>
            </connector>
            <label>IsCall</label>
        </rules>
    </decisions>
    <description>Projet- Assistant affiché sur les chantiers pour créer rapidement un projet</description>
    <dynamicChoiceSets>
        <name>TypeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountCallSource</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Account_Proprietaire.accountCallSource__c})</expression>
    </formulas>
    <formulas>
        <name>AccountIdForProjet</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK({!Get_Chantier.proprietaire__c}) ) , {!Get_Chantier.proprietaire__c}, IF( NOT( ISBLANK({!Get_Chantier.autreProprietaire__c}) ) , {!Get_Chantier.autreProprietaire__c} , IF( NOT( ISBLANK({!Get_Chantier.locataire__c}) ) , {!Get_Chantier.locataire__c} , IF( NOT( ISBLANK({!Get_Chantier.autreLocataire__c}) ) , {!Get_Chantier.autreLocataire__c} , IF( NOT( ISBLANK({!Get_Chantier.occupant__c}) ) , {!Get_Chantier.occupant__c} , IF( NOT( ISBLANK({!Get_Chantier.autreOccupant__c}) ) , {!Get_Chantier.autreOccupant__c} , NULL ))))))</expression>
    </formulas>
    <formulas>
        <description>PRJ _ {YYYY] {MMM} _ {compte} _ {ville} _ {type relation chantier}
où {MMM} correspond aux 3 premières lettres du mois en majuscules (ou 4 pour JUIN et JUILLET)</description>
        <name>NomProjetFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;PRJ _ &quot; + 
TEXT(YEAR(TODAY())) + &quot; &quot; +
CASE(MONTH(TODAY()), 1, &quot;JAN&quot;,
2, &quot;FEV&quot;, 3, &quot;MAR&quot;, 4, &quot;AVR&quot;,  5, &quot;MAI&quot;, 
6, &quot;JUIN&quot;, 7, &quot;JUIL&quot;, 8, &quot;AOU&quot;, 9, &quot;SEP&quot;, 10, &quot;OCT&quot;,
11, &quot;NOV&quot;, 12, &quot;DEC&quot;, &quot;N/A&quot;) + &quot; _ &quot; + 
{!Get_Account_Proprietaire.Name} + &quot; _ &quot; + 
{!Get_Account_Proprietaire.ville__c} + &quot; _ &quot; + 
&quot;Propriétaire&quot;, 120)</expression>
    </formulas>
    <formulas>
        <name>NomProjetTruncated</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Nom_du_projet} , 120)</expression>
    </formulas>
    <formulas>
        <name>NomProjetTruncated2</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Nom_du_projet2}, 120)</expression>
    </formulas>
    <interviewLabel>Opportunity - Assistant création projet rapide {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assistant création projet rapide</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1328</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Open_Edit_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Projet</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Proprietaire</name>
        <label>Get Account (Propriétaire)</label>
        <locationX>775</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_profile_user</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chantier.proprietaire__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chantier</name>
        <label>Get Chantier</label>
        <locationX>775</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Proprietaire</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chantier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>1062</locationX>
        <locationY>920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_other_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1213</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Nouveau_projet_CALL</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nouveau_projet</name>
        <label>Nouveau projet</label>
        <locationX>620</locationX>
        <locationY>751</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_values</targetReference>
        </connector>
        <fields>
            <name>Nom_du_projet2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NomProjetFormula</elementReference>
            </defaultValue>
            <fieldText>Nom du projet</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountIdForProjet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherAccount2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Autre compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>autreCompte__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Chantier2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Chantier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>chantier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LeadSource2</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Origine du projet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>LeadSource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Type2</name>
            <choiceReferences>TypeList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Nouveau</stringValue>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_de_cloture2</name>
            <dataType>Date</dataType>
            <fieldText>Date prévisionnelle de signature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;La date prévisionnelle de signature doit être supérieure à la date du jour&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_de_cloture2} &gt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description2</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nouveau_projet_CALL</name>
        <label>Nouveau projet - CALL</label>
        <locationX>893</locationX>
        <locationY>719</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_values_CALL</targetReference>
        </connector>
        <fields>
            <name>Nom_du_projet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NomProjetFormula</elementReference>
            </defaultValue>
            <fieldText>Nom du projet</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountIdForProjet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Autre compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>autreCompte__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Chantier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Chantier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>chantier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>TypeList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Nouveau</stringValue>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_de_cloture</name>
            <dataType>Date</dataType>
            <fieldText>Date prévisionnelle de signature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La date prévisionnelle de signature doit être supérieure à la date du jour&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_de_cloture} &gt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LeadSource</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>LeadSource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Origine du projet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OrigineProjetCall</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>callSource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Origine du projet (Call)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CampagneCall</name>
            <dataType>String</dataType>
            <fieldText>Campagne (Call)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Chantier</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Projet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>Id du projet</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
