force-app/main/default/flows/Order_Customer_Facturation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateAndSendInvoice</name>
        <label>CreateAndSendInvoice</label>
        <locationX>1214</locationX>
        <locationY>965</locationY>
        <actionName>IV_CreateAndSendInvoice</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Invoice</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>1400</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>invoiceLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>invoiceLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEachOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachOrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignIdParent</name>
        <label>assignIdParent</label>
        <locationX>1635</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>forEachInvoiceLineChild.parentLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEachInvoiceLineParent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignInvoiceLineValue</name>
        <label>assignInvoiceLineValue</label>
        <locationX>1211</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>invoiceLine.invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceLine.orderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEachOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forEachOrderItem.billingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceLine.quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEachOrderItem.installedAssetCount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderItemList</name>
        <label>assignOrderItemList</label>
        <locationX>836</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>orderItemList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RTInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderItemList_0</name>
        <label>assignOrderItemList</label>
        <locationX>847</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>orderItemList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderItem_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RTInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToList</name>
        <label>assignToList</label>
        <locationX>1461</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>invoiceLineList2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEachInvoiceLineChild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachInvoiceLineParent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isAllAssetInstalled</name>
        <label>isAllAssetInstalled</label>
        <locationX>552</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>getOrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>installedOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder.installedAssetCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOrder.assetCount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOrderItem_0</targetReference>
            </connector>
            <label>installedOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>isComponent</name>
        <label>isComponent</label>
        <locationX>1455</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>forEachInvoiceLineChild</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ComponentOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forEachInvoiceLineChild.orderItem__r.productType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Component</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forEachInvoiceLineParent</targetReference>
            </connector>
            <label>ComponentOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCorrectParent</name>
        <label>isCorrectParent</label>
        <locationX>1627</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>forEachInvoiceLineParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>correctParentOK</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>forEachInvoiceLineParent.orderItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forEachInvoiceLineChild.orderItem__r.parentOrderItem__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachInvoiceLineParent.orderItem__r.productType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carpentry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEachInvoiceLineParent.orderItem__r.productType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIdParent</targetReference>
            </connector>
            <label>correctParentOK</label>
        </rules>
    </decisions>
    <description>Flux de création automatique de facturation depuis une commande client.</description>
    <interviewLabel>Order (Customer) - Facturation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (Customer) - Facturation</label>
    <loops>
        <name>forEachInvoiceLineChild</name>
        <label>forEachInvoiceLineChild</label>
        <locationX>1213</locationX>
        <locationY>602</locationY>
        <collectionReference>invoiceLineList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isComponent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateInvoiceLineChild</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forEachInvoiceLineParent</name>
        <label>forEachInvoiceLineParent</label>
        <locationX>1461</locationX>
        <locationY>613</locationY>
        <collectionReference>invoiceLineList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isCorrectParent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>forEachInvoiceLineChild</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forEachOrderItem</name>
        <label>forEachOrderItem</label>
        <locationX>1217</locationX>
        <locationY>241</locationY>
        <collectionReference>orderItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignInvoiceLineValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOrderItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>1089</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>forEachOrderItem</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RTInvoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>getOrder.amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>autoComputedAmount__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billingAccount__c</field>
            <value>
                <elementReference>getOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customerOrder__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>Brouillon</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_InvoiceLines</name>
        <label>Create InvoiceLines</label>
        <locationX>1213</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>forEachInvoiceLineChild</targetReference>
        </connector>
        <inputReference>invoiceLineList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RTInvoice</name>
        <label>Get RTInvoice</label>
        <locationX>970</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>450</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderItem</name>
        <label>getOrderItem</label>
        <locationX>725</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOrderItemList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderItem_0</name>
        <label>getOrderItem</label>
        <locationX>726</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOrderItemList_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Facturé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateInvoiceLineChild</name>
        <label>updateInvoiceLineChild</label>
        <locationX>1214</locationX>
        <locationY>787</locationY>
        <connector>
            <targetReference>CreateAndSendInvoice</targetReference>
        </connector>
        <inputReference>invoiceLineList2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderItem</name>
        <label>updateOrderItem</label>
        <locationX>1213</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Create_InvoiceLines</targetReference>
        </connector>
        <inputReference>orderItemsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>getOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Create_Invoice</elementReference>
        </value>
    </variables>
    <variables>
        <name>invoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>invoiceLineChild</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>invoiceLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>invoiceLineList2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>invoiceLineParent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>orderItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
