force-app/main/default/flows/Order_Customer_Deresiliation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Change_Quote_Status</name>
        <label>Change Quote Status</label>
        <locationX>914</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendu enregistré</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reouverture_Commande</name>
        <label>Réouverture Commande</label>
        <locationX>1204</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.isReopen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldCancellingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Sales_Quote</name>
        <label>Check Sales Quote</label>
        <locationX>831</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Reouverture_Commande</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is CPQ Quote</defaultConnectorLabel>
        <rules>
            <name>Is_Sales_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Quote_Status</targetReference>
            </connector>
            <label>Is Sales Quote ?</label>
        </rules>
    </decisions>
    <description>Commande client - Ecran pour annuler la résiliation d&apos;une commande client</description>
    <interviewLabel>Order (Customer) - Dérésiliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (Customer) - Réouverture</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CPQ_Quote</name>
        <label>Get CPQ Quote</label>
        <locationX>628</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deresiliation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>390</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>508</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPQ_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Résilié</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1346</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>1052</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Reouverture_Commande</targetReference>
        </connector>
        <inputReference>Get_Quote</inputReference>
    </recordUpdates>
    <screens>
        <name>Deresiliation</name>
        <label>Dérésiliation</label>
        <locationX>738</locationX>
        <locationY>169</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Sales_Quote</targetReference>
        </connector>
        <fields>
            <name>DeresiliationTexte</name>
            <fieldText>&lt;p&gt;Cette action permettra de dé-résilier cette commande, toutefois, les enregistrements associés, annulés ou supprimés ne pourront pas être récupérés.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationTexte</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Êtes-vous sûr de vouloir annuler la résiliation de cette commande ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>1482</locationX>
        <locationY>171</locationY>
        <flowName>Order_Customer_Validation</flowName>
        <inputAssignments>
            <name>oldCancellingDate</name>
            <value>
                <elementReference>oldCancellingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>oldCancellingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
