force-app/main/default/flows/Order_Customer_Annulation_lignes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Asset_to_list</name>
        <label>Add Asset to list</label>
        <locationX>1266</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>AssetsToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_InternalPNC_to_list</name>
        <label>Add InternalPNC to list</label>
        <locationX>2649</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>InternalPNCToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_InternalPNC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_InternalPNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_NCC_to_list</name>
        <label>Add NCC to list</label>
        <locationX>1780</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>NCCToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_NCC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_NCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OrderItem_to_list</name>
        <label>Add OrderItem to list</label>
        <locationX>831</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>OrderItemsUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_OrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ProviderOrder_to_list</name>
        <label>Add ProviderOrder to list</label>
        <locationX>2221</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>ProviderOrdersToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_ProviderOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_ProviderOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ProviderPNC_to_list</name>
        <label>Add ProviderPNC to list</label>
        <locationX>3025</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>ProviderPNCToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_ProviderPNC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_ProviderPNC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SA_to_list</name>
        <label>Add SA to list</label>
        <locationX>3551</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>SAsToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Asset</name>
        <label>Cancel Asset</label>
        <locationX>1109</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>FE_Asset.cancellingReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_Asset.UsageEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_NCC</name>
        <label>Cancel NCC</label>
        <locationX>1581</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>FE_NCC.cancellationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_NCC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_OrderItem</name>
        <label>Cancel OrderItem</label>
        <locationX>664</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>FE_OrderItem.cancellationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OrderItem_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_ProviderOrder</name>
        <label>Cancel ProviderOrder</label>
        <locationX>2054</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>FE_ProviderOrder.cancellingReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_ProviderOrder.cancellingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ProviderOrder_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_ProviderPNC</name>
        <label>Cancel ProviderPNC</label>
        <locationX>2859</locationX>
        <locationY>76</locationY>
        <assignmentItems>
            <assignToReference>FE_ProviderPNC.cancellingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ProviderPNC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_SA</name>
        <label>Cancel SA</label>
        <locationX>3387</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>FE_SA.cancellingReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Autre</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_SA.cancellingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_SA.cancellingComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annulation de la commande client associée</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SA_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_InternalPNC</name>
        <label>Close InternalPNC</label>
        <locationX>2488</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>FE_InternalPNC.ClosedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_InternalPNC.processingEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.cancellingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_InternalPNC.aCloturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_InternalPNC_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assets</name>
        <label>Check Assets</label>
        <locationX>1161</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Get_NCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_Asset</targetReference>
            </connector>
            <label>Has Assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_InternalPNC</name>
        <label>Check InternalPNC</label>
        <locationX>2508</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Get_ProviderPNC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_InternalPNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_InternalPNC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_InternalPNC</targetReference>
            </connector>
            <label>Has InternalPNC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NCC</name>
        <label>Check NCC</label>
        <locationX>1614</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_ProviderOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_NCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NCC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_NCC</targetReference>
            </connector>
            <label>Has NCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OrderItems_exist</name>
        <label>Check OrderItems exist</label>
        <locationX>775</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Get_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_OrderItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_OrderItem</targetReference>
            </connector>
            <label>Has OrderItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProviderOrder</name>
        <label>Check ProviderOrder</label>
        <locationX>2078</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Get_InternalPNC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_ProvideOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ProviderOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_ProviderOrder</targetReference>
            </connector>
            <label>Has ProvideOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProviderPNC</name>
        <label>Check ProviderPNC</label>
        <locationX>2877</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Get_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_ProviderPNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ProviderPNC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_ProviderPNC</targetReference>
            </connector>
            <label>Has ProviderPNC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA</name>
        <label>Check SA</label>
        <locationX>3387</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_SA</targetReference>
            </connector>
            <label>Has SA</label>
        </rules>
    </decisions>
    <description>Commande client - Annulation des  enregistrements enfant (ligne de commandes/Actifs/NCC/CF) lors de l&apos;annulation de la commande</description>
    <interviewLabel>Order (Customer) - Annulation lignes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (Customer) - Annulation enregistrements enfant</label>
    <loops>
        <name>FE_Asset</name>
        <label>For each Asset</label>
        <locationX>1184</locationX>
        <locationY>230</locationY>
        <collectionReference>Get_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_InternalPNC</name>
        <label>For each InternalPNC</label>
        <locationX>2528</locationX>
        <locationY>214</locationY>
        <collectionReference>Get_InternalPNC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_InternalPNC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_InternalPNCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_NCC</name>
        <label>For each NCC</label>
        <locationX>1639</locationX>
        <locationY>211</locationY>
        <collectionReference>Get_NCC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_NCC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_NCCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_OrderItem</name>
        <label>For each OrderItem</label>
        <locationX>785</locationX>
        <locationY>250</locationY>
        <collectionReference>Get_OrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_OrderItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_ProviderOrder</name>
        <label>For each ProviderOrder</label>
        <locationX>2093</locationX>
        <locationY>216</locationY>
        <collectionReference>Get_ProviderOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_ProviderOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ProviderOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_ProviderPNC</name>
        <label>For each ProviderPNC</label>
        <locationX>2897</locationX>
        <locationY>227</locationY>
        <collectionReference>Get_ProviderPNC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_ProviderPNC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ProviderPNCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_SA</name>
        <label>For each SA</label>
        <locationX>3403</locationX>
        <locationY>235</locationY>
        <collectionReference>Get_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>1027</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>cancellingReason__c</queriedFields>
        <queriedFields>UsageEndDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CaseInternalPNCRT</name>
        <label>Get CaseInternalPNCRT</label>
        <locationX>353</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CaseProviderPNCRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalProductNonCompliance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CaseProviderPNCRT</name>
        <label>Get CaseProviderPNCRT</label>
        <locationX>472</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProviderProductNonCompliance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InternalPNC</name>
        <label>Get InternalPNC</label>
        <locationX>2399</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_InternalPNC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>A clôturer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CaseInternalPNCRT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NCC</name>
        <label>Get NCC</label>
        <locationX>1453</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>cancellationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>closeDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderNonCompliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItem</name>
        <label>Get OrderItem</label>
        <locationX>606</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OrderItems_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>cancellationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProviderOrder</name>
        <label>Get ProviderOrder</label>
        <locationX>1921</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ProviderOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>parentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivering</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Billed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>BilledNotDelivered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProviderPNC</name>
        <label>Get ProviderPNC</label>
        <locationX>2767</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ProviderPNC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>A clôturer</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CaseProviderPNCRT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>3241</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Débriefé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>1390</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Get_NCC</targetReference>
        </connector>
        <inputReference>AssetsToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InternalPNCs</name>
        <label>Update InternalPNCs</label>
        <locationX>2657</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Get_ProviderPNC</targetReference>
        </connector>
        <inputReference>InternalPNCToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NCCs</name>
        <label>Update NCCs</label>
        <locationX>1815</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>Get_ProviderOrder</targetReference>
        </connector>
        <inputReference>NCCToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OrderItems</name>
        <label>Update OrderItems</label>
        <locationX>957</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <inputReference>OrderItemsUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ProviderOrders</name>
        <label>Update ProviderOrders</label>
        <locationX>2282</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Get_InternalPNC</targetReference>
        </connector>
        <inputReference>ProviderOrdersToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ProviderPNCs</name>
        <label>Update ProviderPNCs</label>
        <locationX>3026</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <inputReference>ProviderPNCToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAs</name>
        <label>Update SAs</label>
        <locationX>3553</locationX>
        <locationY>245</locationY>
        <inputReference>SAsToUpdateList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>17</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Get_CaseInternalPNCRT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetsToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>InternalPNCToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NCCToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderNonCompliance__c</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderItemsUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProviderOrdersToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>ProviderPNCToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SAsToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
