force-app/main/default/flows/Order_customer_Avoir_commercial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>avoirCommercialApex</name>
        <label>avoirCommercialApex</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>IV_InsertCommercialCreditMemo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_NewCreditMemo</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>creditMemoDate</name>
            <value>
                <elementReference>CreditMemoDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>InvoicesTable.outputSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>CreditMemoLineLabel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>CreditMemoAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>CreditMemoReason</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreditMemoId</assignToReference>
            <name>creditMemoId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open_CreditMemo</name>
        <label>Open CreditMemo</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>c:OpenDetailsRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewCreditMemo.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Commande client - Création d&apos;un avoir sur la totalité de la commande client</description>
    <dynamicChoiceSets>
        <name>pickListReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>reason__c</picklistField>
        <picklistObject>CreditMemoLine__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Order - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (Customer) - Avoir commercial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>avoirCommercial</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>invoiceReference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulée</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NewCreditMemo</name>
        <label>Get_NewCreditMemo</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditMemoId</elementReference>
            </value>
        </filters>
        <object>CreditMemo__c</object>
        <outputReference>NewCreditMemo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>avoirCommercial</name>
        <label>avoirCommercial</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>avoirCommercialApex</targetReference>
        </connector>
        <fields>
            <name>InvoiceText</name>
            <fieldText>&lt;p&gt;Veuillez sélectionner une facture&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoicesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Invoice__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Invoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, invoiceDate__c, amount__c, status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Libre</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditMemoAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Montant de l&apos;avoir</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>CreditMemoReason</name>
            <choiceReferences>pickListReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Raison de l&apos;avoir</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CreditMemoLineLabel</name>
            <dataType>String</dataType>
            <fieldText>Libellé de la ligne d&apos;avoir</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InputMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Si la date d&apos;avoir est renseignée, une référence comptable sera associée à l&apos;avoir qui ne pourra plus être modifiée.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditMemoDate</name>
            <dataType>Date</dataType>
            <fieldText>Date de l&apos;avoir</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_CreditMemo</targetReference>
        </connector>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(22, 166, 3);&quot;&gt;L&apos;avoir {!NewCreditMemo.Name} a bien été créé.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreditMemoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCreditMemo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditMemo__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
