force-app/main/default/flows/Order_Customer_Actions_approbation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_initial_process_avenant</name>
        <label>Validate initial &amp; process avenant</label>
        <locationX>1513</locationX>
        <locationY>359</locationY>
        <actionName>IV_ApprovalProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_parent_order_if_not_approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>$Label.order_msg_orderValidatedByAmendment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>otherRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.parentOrder__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_ParentOrder</name>
        <label>Check ParentOrder</label>
        <locationX>1277</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Parent_order_is_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.parentOrder__r.isValid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_parentOrder</targetReference>
            </connector>
            <label>Parent order is approved</label>
        </rules>
        <rules>
            <name>Parent_order_is_not_approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.parentOrder__r.isValid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.serviceEntity__r.enabledCustomerOrderApprovalProcess__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_initial_process_avenant</targetReference>
            </connector>
            <label>Parent order is not approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_requirements</name>
        <label>Check requirements</label>
        <locationX>952</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isAvenantApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassWorkflowRule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avenant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.isValid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ParentOrder</targetReference>
            </connector>
            <label>isAvenantApproved</label>
        </rules>
    </decisions>
    <interviewLabel>Order - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (Customer) - Actions à l&apos;approbation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_parent_order_if_not_approved</name>
        <label>Update parent order if not approved</label>
        <locationX>1547</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Update_SBQQ_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>amendingInProgress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>salesEntity__c</field>
            <value>
                <elementReference>$Record.chantier__r.salesEntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>serviceEntity__c</field>
            <value>
                <elementReference>$Record.chantier__r.serviceEntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ParentOrders__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_parentOrder</name>
        <label>Update parentOrder</label>
        <locationX>1298</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Update_SBQQ_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>amendingInProgress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.parentOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SBQQ_Quote</name>
        <label>Update SBQQ_Quote</label>
        <locationX>951</locationX>
        <locationY>624</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendu</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>amendmentOrderApproved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>568</locationX>
        <locationY>40</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_requirements</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
