force-app/main/default/flows/Order_Customer_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>isOrderIdNull</name>
        <label>isOrderIdNull</label>
        <locationX>390</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>getOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAsset_0</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>maxEpirationDate2</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!getOrder.maxExpiringDateNCC__c} + 3)</expression>
    </formulas>
    <formulas>
        <name>maxExpirationDate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!oldMaxExpirationDate} + 3)</expression>
    </formulas>
    <interviewLabel>Order (Customer) - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (Customer) - Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>387</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAsset</name>
        <label>updateAsset</label>
        <locationX>509</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>updateOrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InstallDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldCancellingDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UsageEndDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>cancellingReason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>suspendDate__c</field>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAsset_0</name>
        <label>updateAsset</label>
        <locationX>523</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>updateOrderItem_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InstallDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldCancellingDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UsageEndDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>cancellingReason__c</field>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNCC</name>
        <label>updateNCC</label>
        <locationX>753</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cancellationDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldCancellingDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cancellationDate__c</field>
        </inputAssignments>
        <object>OrderNonCompliance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNCC_0</name>
        <label>updateNCC</label>
        <locationX>767</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cancellationDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldCancellingDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cancellationDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>expirationDate__c</field>
            <value>
                <elementReference>maxExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>OrderNonCompliance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrder</name>
        <label>updateOrder</label>
        <locationX>852</locationX>
        <locationY>214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellingDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>cancellingReason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>lockedByNCC__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>suspendDate__c</field>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderItem</name>
        <label>updateOrderItem</label>
        <locationX>632</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>updateNCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>cancellationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>cancellationDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationReason__c</field>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderItem_0</name>
        <label>updateOrderItem</label>
        <locationX>646</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>updateNCC_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>cancellationDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldCancellingDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>cancellationReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldCancellingReason</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cancellationDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationReason__c</field>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>29</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>isOrderIdNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oldCancellingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldCancellingReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldMaxExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
