force-app/main/default/flows/Order_Customer_Gestion_des_garanties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_EntitlementList</name>
        <label>Add to EntitlementList</label>
        <locationX>483</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>EntitlementList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Entitlement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Si_warrantyMaxDuration_endDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Maj_dates_garantie</name>
        <label>Maj dates garantie</label>
        <locationX>601</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>Entitlement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.InstallDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFinGarantieCalculee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_EntitlementList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAJ_EndDate</name>
        <label>MAJ EndDate</label>
        <locationX>1383</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>CustomerOrder.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFinMax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MAJ_dates_d_but_fin_garantie</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAJ_EndUseDate</name>
        <label>MAJ EndDate</label>
        <locationX>618</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>Asset.UsageEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateFinMax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MAJ_dates_d_but_fin_garantie_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAJ_StartDate</name>
        <label>MAJ StartDate</label>
        <locationX>1381</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>CustomerOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.InstallDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verification_date_fin_garantie</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAJ_warrantyMaxDuration</name>
        <label>MAJ warrantyMaxDuration</label>
        <locationX>273</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>Asset.warrantyMaxDuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Si_asset_endDate_endDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>387</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>Get_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IsDebug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CustomerOrder</targetReference>
            </connector>
            <label>IsDebug</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_asset_endDate_endDate</name>
        <label>Si asset.endDate &lt; endDate</label>
        <locationX>386</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>MAJ_dates_d_but_fin_garantie_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_la_fin_de_garantie_de_l_asset_est_plus_petite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Asset.UsageEndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Entitlement.EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.UsageEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_EndUseDate</targetReference>
            </connector>
            <label>Si la fin de garantie de l&apos;asset est plus petite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_warrantyMaxDuration_endDate</name>
        <label>Si warrantyMaxDuration &lt; endDate</label>
        <locationX>386</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Si_asset_endDate_endDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_date_de_fin_de_garantie_plus_grande</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Asset.warrantyMaxDuration__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Entitlement.duration__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.warrantyMaxDuration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_warrantyMaxDuration</targetReference>
            </connector>
            <label>Si date de fin de garantie plus grande</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_date_fin_garantie</name>
        <label>Vérification date fin garantie</label>
        <locationX>1372</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>MAJ_dates_d_but_fin_garantie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_la_date_de_fin_de_garantie_est_plus_longue</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>CustomerOrder.EndDate</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dateFinMax</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerOrder.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>dateFinMax</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_EndDate</targetReference>
            </connector>
            <label>Si la date de fin de garantie est plus longue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_de_la_date_de_pose</name>
        <label>Vérification de la date de pose</label>
        <locationX>1149</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>Verification_date_fin_garantie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_date_de_pose_est_inf_rieure_la_StartDate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Asset.InstallDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CustomerOrder.EffectiveDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerOrder.EffectiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_StartDate</targetReference>
            </connector>
            <label>Si date de pose est inférieure à la StartDate</label>
        </rules>
    </decisions>
    <description>Mise à jour des dates de début et de fin des garanties de la commande client pour l&apos;installation de chaque actif</description>
    <formulas>
        <name>dateFinGarantieAssetCalculee</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!Asset.InstallDate} + {!Asset.warrantyMaxDuration__c}),
MONTH({!Asset.InstallDate}),
DAY({!Asset.InstallDate})
)</expression>
    </formulas>
    <formulas>
        <name>dateFinGarantieCalculee</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!Asset.InstallDate}) + {!Entitlement.duration__c},
MONTH({!Asset.InstallDate}),
DAY({!Asset.InstallDate})
)</expression>
    </formulas>
    <interviewLabel>Order (Customer) - Gestion des garanties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order (Customer) - Gestion des garanties</label>
    <loops>
        <name>MAJ_dates_d_but_fin_garantie</name>
        <label>MAJ dates début/fin garantie</label>
        <locationX>1051</locationX>
        <locationY>286</locationY>
        <assignNextValueToReference>Entitlement</assignNextValueToReference>
        <collectionReference>Get_Warranties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verification_de_la_date_de_pose</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CustomerOrder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MAJ_dates_d_but_fin_garantie_0</name>
        <label>MAJ dates début/fin garantie</label>
        <locationX>701</locationX>
        <locationY>287</locationY>
        <assignNextValueToReference>Entitlement</assignNextValueToReference>
        <collectionReference>Get_Warranties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maj_dates_garantie</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Entitlement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>567</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warranties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActualAssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>UsageEndDate</queriedFields>
        <queriedFields>warrantyMaxDuration__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CustomerOrder</name>
        <label>Get CustomerOrder</label>
        <locationX>495</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>CustomerOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranties</name>
        <label>Get Warranties</label>
        <locationX>701</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MAJ_dates_d_but_fin_garantie_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActualAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>duration__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>871</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>MAJ_dates_d_but_fin_garantie</targetReference>
        </connector>
        <inputReference>Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CustomerOrder</name>
        <label>Update CustomerOrder</label>
        <locationX>1053</locationX>
        <locationY>483</locationY>
        <inputReference>CustomerOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entitlement</name>
        <label>Update Entitlement</label>
        <locationX>874</locationX>
        <locationY>159</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputReference>EntitlementList</inputReference>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Debug</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActualAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ContractLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>CustomerOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>dateFinMax</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
</Flow>
