force-app/main/default/flows/Piece_comptable_Annulation_encaissement_composite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_in_list</name>
        <label>Add in list</label>
        <locationX>1302</locationX>
        <locationY>1806</locationY>
        <assignmentItems>
            <assignToReference>NewAccountingPieceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAccountingPiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberChild</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountingDate</name>
        <label>Assign AccountingDate</label>
        <locationX>1492</locationX>
        <locationY>1629</locationY>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.accountingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountingDate_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cancelled_AccountingPiece_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Cancelled_AccountingPiece_0</name>
        <label>Create Cancelled AccountingPiece</label>
        <locationX>1301</locationX>
        <locationY>1673</locationY>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Child.account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.cancelledPiece__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Child.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.entityBankAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Child.entityBankAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.inputEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Child.inputEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Child.order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.orderEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Child.orderEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.pieceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Child.pieceDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPiece.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init</name>
        <label>Init</label>
        <locationX>1084</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>NumberChild</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountingPieceList</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordTypeName_ReceiptCancellation_0</name>
        <label>RecordTypeName = ReceiptCancellation</label>
        <locationX>1172</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_ReceiptCancellation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_Comptabilise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordTypeName_UndeliveredReceiptCancellation_0</name>
        <label>RecordTypeName = UndeliveredReceiptCancellation</label>
        <locationX>1436</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_UndeliveredReceiptCancellation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_Comptabilise</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Child_Size</name>
        <label>Check Child Size</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Liste_des_pieces_Annulation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Childs</defaultConnectorLabel>
        <rules>
            <name>No_childs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ChildPieces</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_d_enfants</targetReference>
            </connector>
            <label>No childs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Comptabilise</name>
        <label>Check Is Comptabilise</label>
        <locationX>1288</locationX>
        <locationY>1408</locationY>
        <defaultConnector>
            <targetReference>Create_Cancelled_AccountingPiece_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>isComptabilise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Foreach_Child.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comptabilisé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountingDate_Screen</targetReference>
            </connector>
            <label>isComptabilise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Define_RecordTypeName</name>
        <label>Define RecordTypeName</label>
        <locationX>1304</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>RecordTypeName_UndeliveredReceiptCancellation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UndeliveredReceiptCancellation</defaultConnectorLabel>
        <rules>
            <name>ReceiptCancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AccountingPiece.accountingDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordTypeName_ReceiptCancellation_0</targetReference>
            </connector>
            <label>ReceiptCancellation</label>
        </rules>
    </decisions>
    <description>Pièce comptable - Annulation encaissement composite</description>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>{!Get_AccountingPiece.account__r.civilite__c} &amp; &quot; &quot; &amp; {!Get_AccountingPiece.account__r.prenom__c} &amp; &quot; &quot; &amp; {!Get_AccountingPiece.account__r.nom__c}</expression>
    </formulas>
    <formulas>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <expression>-1*{!Foreach_Child.netAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>AccountingPiece - Annulation encaissement	composite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountingPiece - Annulation encaissement	composite</label>
    <loops>
        <name>Foreach_Child</name>
        <label>Foreach Child</label>
        <locationX>1084</locationX>
        <locationY>1046</locationY>
        <collectionReference>ChildListSelected.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_RecordTypeName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summary_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_NewAccountingPieceList</name>
        <label>Insert NewAccountingPieceList</label>
        <locationX>1084</locationX>
        <locationY>1958</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>NewAccountingPieceList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AccountingPiece</name>
        <label>Get AccountingPiece</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ChildPieces</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountingPiece__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ChildPieces</name>
        <label>Get ChildPieces</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_Size</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>netAmount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountingPiece__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_ReceiptCancellation</name>
        <label>Get RecordType ReceiptCancellation</label>
        <locationX>1084</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_UndeliveredReceiptCancellation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReceiptCancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountingPiece__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_UndeliveredReceiptCancellation</name>
        <label>Get RecordType UndeliveredReceiptCancellation</label>
        <locationX>1084</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UndeliveredReceiptCancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountingPiece__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AccountingDate_Screen</name>
        <label>AccountingDate Screen</label>
        <locationX>1494</locationX>
        <locationY>1499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_AccountingDate</targetReference>
        </connector>
        <fields>
            <name>AccountingDate_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Veuillez saisir une date comptable pour l&apos;encaissement à annuler :&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountingDate_Choice</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date comptable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1348</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liste_des_pieces_Annulation</name>
        <label>Liste des pieces Annulation</label>
        <locationX>1084</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType_ReceiptCancellation</targetReference>
        </connector>
        <fields>
            <name>ChildListSelected</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountingPiece__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_ChildPieces</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,order__c,invoice__c,netAmount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Veuillez sélectionner les pièces qui seront annulées :</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pas_d_enfants</name>
        <label>Pas d&apos;enfants</label>
        <locationX>468</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoChildsText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;Il n&apos;existe pas d&apos;enregistrements enfants pouvant être annulées!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_0</name>
        <label>Summary</label>
        <locationX>1083</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_NewAccountingPieceList</targetReference>
        </connector>
        <fields>
            <name>SummaryText_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Information sur l&apos;annulation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CancelPieceData_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nombre de pièces à annulées : &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!NumberChild}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Montant total : &lt;/b&gt;{!TotalAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText_0</name>
            <fieldText>&lt;p&gt;Cliquez sur le bouton &quot;Suivant&quot; pour procéder à l&apos;annulation des encaissements.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_AccountingPiece</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAccountingPiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingPiece__c</objectType>
    </variables>
    <variables>
        <name>NewAccountingPieceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingPiece__c</objectType>
    </variables>
    <variables>
        <name>NumberChild</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
