force-app/main/default/flows/RemVRP_GenerateCommission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APEX_Generate_Comm</name>
        <label>APEX Generate Comm</label>
        <locationX>176</locationX>
        <locationY>358</locationY>
        <actionName>IV_GenerateQuoteCommissions</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>QuoteIdsList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_in_List</name>
        <label>Add in List</label>
        <locationX>176</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>QuoteIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APEX_Generate_Comm</targetReference>
        </connector>
    </assignments>
    <description>Devis / Devis CPQ - Flow pour exécuter la génération des commissions</description>
    <interviewLabel>RemVRP_GenerateCommission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis - Génération des commissions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Add_in_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
