force-app/main/default/flows/Rendez_vous_Annulation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_SAToUpdateList</name>
        <label>Add to SAToUpdateList</label>
        <locationX>1014</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>SAToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>865</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>FE_SA.cancellingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancelledDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_SA.cancellingReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MotifAnnulation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FE_SA.cancellingComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentairesAnnulation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_SAToUpdateList</targetReference>
        </connector>
    </assignments>
    <description>ServiceAppointment - Annuler un rendez-vous en renseignant la date et le motif.</description>
    <dynamicChoiceSets>
        <name>CancellingReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>cancellingReason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Rendez-vous - Annulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rendez-vous - Annulation</label>
    <loops>
        <name>FE_SA</name>
        <label>For Each Service Appointement</label>
        <locationX>941</locationX>
        <locationY>211</locationY>
        <collectionReference>Get_ServiceAppointements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SAToUpdateList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ServiceAppointements</name>
        <label>Get ServiceAppointements</label>
        <locationX>633</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CancelWorkOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Débriefé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>769</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_SAToUpdateList</name>
        <label>Update SAToUpdateList</label>
        <locationX>1111</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>Resultat</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>SAToUpdateList</inputReference>
    </recordUpdates>
    <screens>
        <name>CancelWorkOrder</name>
        <label>Annulation de rendez-vous</label>
        <locationX>784</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FE_SA</targetReference>
        </connector>
        <fields>
            <name>CancelledDate</name>
            <dataType>Date</dataType>
            <fieldText>Date d&apos;annulation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MotifAnnulation</name>
            <choiceReferences>CancellingReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motif d&apos;annulation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommentairesAnnulation</name>
            <dataType>String</dataType>
            <fieldText>Commentaires d&apos;annulation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>770</locationX>
        <locationY>537</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resultat</name>
        <label>Résultat</label>
        <locationX>1231</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextRecap</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(22, 166, 3);&quot;&gt;La demande de rendez-vous a bien été annulée.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>262</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Get_ServiceAppointements</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_SAStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>statutWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
