force-app/main/default/flows/ServiceAppointment_Rapport_de_service_mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>paiement_ko</name>
        <label>paiement ko</label>
        <locationX>1214</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>bonPourPaiementCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>symbolFalse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>paiement_ok</name>
        <label>paiement ok</label>
        <locationX>1209</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>bonPourPaiementCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>symbolTrue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>noValueChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Aucun&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>symbolFalse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;✘&apos;</stringValue>
        </value>
    </constants>
    <constants>
        <name>symbolTrue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;✔&apos;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>attributionCheck</name>
        <label>attributionCheck</label>
        <locationX>1101</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>Summary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>ifTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BonPaiement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>paiement_ok</targetReference>
            </connector>
            <label>ifTrue</label>
        </rules>
        <rules>
            <name>ifFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BonPaiement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>paiement_ko</targetReference>
            </connector>
            <label>ifFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PaymentChoice</name>
        <label>Check PaymentChoice</label>
        <locationX>986</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>attributionCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment OK</defaultConnectorLabel>
        <rules>
            <name>Payment_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ModeDeReglement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MontantRecuDevise</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PayementMethode_Screen</targetReference>
            </connector>
            <label>Payment required</label>
        </rules>
        <rules>
            <name>Montant_required</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ModeDeReglement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MontantRecuDevise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MontantRecuDevise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MontantRequired_Screen</targetReference>
            </connector>
            <label>Montant required</label>
        </rules>
    </decisions>
    <description>ServiceAppointment - Flux pour générer un rapport de service</description>
    <dynamicChoiceSets>
        <name>PaymentMethodChoiceList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentMethodRT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Referencial__c</object>
        <outputAssignments>
            <assignToReference>ModeDeReglementLabel</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Rendez-vous - Rapport de service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rendez-vous - Rapport de service (mobile)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_PaymentMethod_RT_ID</name>
        <label>Get PaymentMethod RT ID</label>
        <locationX>575</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Dates</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PaymentMethod</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>PaymentMethodRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceAppointment</name>
        <label>Get ServiceAppointment</label>
        <locationX>434</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PaymentMethod_RT_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>fsl_autorisationFinancement__c</queriedFields>
        <queriedFields>fsl_montantRecu__c</queriedFields>
        <queriedFields>fsl_retoursReservesClient__c</queriedFields>
        <queriedFields>fsl_retoursReservesKparK__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateServiceAppointment</name>
        <label>updateServiceAppointment</label>
        <locationX>1311</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>Resultat_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>DateHeureFinReelle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>DateHeureDebutReelle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fsl_autorisationFinancement__c</field>
            <value>
                <elementReference>BonPaiement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fsl_dateDebriefing__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fsl_montantRecu__c</field>
            <value>
                <elementReference>MontantRecuDevise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fsl_retoursReservesClient__c</field>
            <value>
                <elementReference>reserveClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fsl_retoursReservesKparK__c</field>
            <value>
                <elementReference>reserveKparK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paymentMethod__c</field>
            <value>
                <elementReference>ModeDeReglement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>serviceReportToCreate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>996</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MontantRequired_Screen</name>
        <label>Montant obligatoire</label>
        <locationX>1087</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Montant_Required_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Le montant reçu est obligatoire si le règlement est défini.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PayementMethode_Screen</name>
        <label>Règlement obligatoire</label>
        <locationX>888</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PayementMethode_Required_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Le mode de règlement est obligatoire si le montant est supérieur à 0.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resultat_Screen</name>
        <label>Résultat</label>
        <locationX>1462</locationX>
        <locationY>299</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(22, 166, 3); background-color: rgb(255, 255, 255);&quot;&gt;Le rapport de service a bien été généré.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Datas</name>
        <label>Données Administratives</label>
        <locationX>876</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_PaymentChoice</targetReference>
        </connector>
        <fields>
            <name>MontantRecuDevise</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.fsl_montantRecu__c</elementReference>
            </defaultValue>
            <fieldText>Montant reçu (à saisir si le montant &gt; 0)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A saisir si le montant &amp;gt; 0&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ModeDeReglement</name>
            <choiceReferences>noValueChoice</choiceReferences>
            <choiceReferences>PaymentMethodChoiceList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode de règlement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, &amp;quot;Segoe UI&amp;quot;, Calibri, Thonburi, Arial, Verdana, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;Obligatoire si le montant est saisi.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BonPaiement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.fsl_autorisationFinancement__c</elementReference>
            </defaultValue>
            <fieldText>Bon pour paiement (financement)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>reserveClient</name>
            <defaultValue>
                <stringValue>{!ServiceAppointment.fsl_retoursReservesClient__c}</stringValue>
            </defaultValue>
            <fieldText>Réserves client</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>reserveKparK</name>
            <defaultValue>
                <stringValue>{!ServiceAppointment.fsl_retoursReservesKparK__c}</stringValue>
            </defaultValue>
            <fieldText>Réserves K par K</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Dates</name>
        <label>Date de début et fin réelle</label>
        <locationX>739</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Datas</targetReference>
        </connector>
        <fields>
            <name>DateHeureDebutReelle</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.ActualStartTime</elementReference>
            </defaultValue>
            <fieldText>Date et heure de début (réelle)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DateHeureFinReelle</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.ActualEndTime</elementReference>
            </defaultValue>
            <fieldText>Date et heure de fin (réelle)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Récapitulatif</label>
        <locationX>1311</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateServiceAppointment</targetReference>
        </connector>
        <fields>
            <name>Summary_screen_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Numéro du RDV : {!ServiceAppointment.AppointmentNumber}&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Date de début réelle : {!DateHeureDebutReelle}&lt;/li&gt;&lt;li&gt;Date de fin réelle : {!DateHeureFinReelle}&lt;/li&gt;&lt;li&gt;Montant reçu : {!MontantRecuDevise}&lt;/li&gt;&lt;li&gt;Mode de réglement : {!ModeDeReglementLabel}&lt;/li&gt;&lt;li&gt;Réserve Client : {!reserveClient}&lt;/li&gt;&lt;li&gt;Réserve K par K : {!reserveKparK}&lt;/li&gt;&lt;li&gt;Bon pour paiement : {!bonPourPaiementCheck}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Get_ServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bonPourPaiementCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModeDeReglementLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentMethodRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
