force-app/main/default/flows/ServiceAppointment_MAJ_Statut.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Define_SA_Status</name>
        <label>Define SA Status</label>
        <locationX>752</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SAStatus</targetReference>
        </connector>
    </assignments>
    <description>Assistant permettant de modifier le statut du SA</description>
    <dynamicChoiceSets>
        <name>SAStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Rendez-vous - MAJ Statut {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rendez-vous - MAJ Statut</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_ServiceAppointment</name>
        <label>Get ServiceAppointment</label>
        <locationX>481</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Choice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SAStatus</name>
        <label>Update SAStatus</label>
        <locationX>905</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>SARecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>727</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_Choice</name>
        <label>Choix du statut</label>
        <locationX>618</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Define_SA_Status</targetReference>
        </connector>
        <fields>
            <name>Name_SA</name>
            <fieldText>&lt;p&gt;Rendez-vous : &lt;strong&gt;{!SARecord.AppointmentNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>SAStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SARecord.Status</elementReference>
            </defaultValue>
            <fieldText>Statut</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Résultat</label>
        <locationX>1038</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SummaryText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(27, 192, 41);&quot;&gt;Le statut du rendez-vous a été mis à jour.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>82</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Get_ServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
