force-app/main/default/flows/Task_After_Trigger_Alimentation_dernier_tag_d_appel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Define_OppId_With_Last_Project</name>
        <label>Define OppId With Last Project</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Web_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_OppId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_OppId_With_WhatId</name>
        <label>Define OppId With WhatId</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>OppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_OppId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OppId</name>
        <label>Check OppId</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>OppId_defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Projet</targetReference>
            </connector>
            <label>OppId defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WhatId</name>
        <label>Check WhatId</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Last_Web_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Linked_to_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_OppId_With_WhatId</targetReference>
            </connector>
            <label>Linked to Opportunity</label>
        </rules>
    </decisions>
    <description>Tâche - Alimentation des champs liés au &quot;Dernier Tag Appel&quot; du projet</description>
    <interviewLabel>Task - After Trigger - Actions à la création/modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - After Trigger - Alimentation dernier tag d&apos;appel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Web_Project</name>
        <label>Get Last Web Project</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_OppId_With_Last_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>callSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>44 - Formulaire site KparK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Projet</name>
        <label>Update Projet</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>lastModifiedDateOfLastCallTag__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lastModifiedUserOfLastCallTag__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>operationCampaignCategoryOfLastCallTag__c</field>
            <value>
                <elementReference>$Record.operationCampaignCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>operationCampaignLeadOfLastCallTag__c</field>
            <value>
                <elementReference>$Record.OperationCampaignLead__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_WhatId</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
