force-app/main/default/flows/WorkOrder_After_Trigger_Calcul_cout_standard_des_ressources_externes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_All_AssignedResource</name>
        <label>Get All AssignedResource</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <actionName>IV_FlowINClauseActionClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FE_AssignedResources</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>AssignedResource</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>filteringValuesCollection</name>
            <value>
                <elementReference>SAIdsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>AssignedResource</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id, isExternalResource__c, estimatedStandardCost__c, ServiceAppointmentId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>ServiceAppointmentId</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_AR_in_ARToUpdateList</name>
        <label>Add AR in ARToUpdateList</label>
        <locationX>270</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>ARToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_ExternalResources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_ExternalResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AR_in_ExternalARList</name>
        <label>Add AR in ExternalARList</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ExternalARList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_AssignedResources</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfExternalResources</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_AssignedResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_in_SAIdsList</name>
        <label>Add Id in SAIdsList</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>SAIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FE_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StandardCost_on_AR</name>
        <label>Assign StandardCost on AR</label>
        <locationX>270</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>FE_ExternalResources.estimatedStandardCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CostAmountByResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AR_in_ARToUpdateList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CostPercent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.095</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check</name>
        <label>Check ARToUpdateList</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_ARToUpdateList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ARToUpdateList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AR</targetReference>
            </connector>
            <label>Has ARToUpdateList</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ExternalResource</name>
        <label>Check if ExternalResource</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>FE_AssignedResources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Is_ExternalResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FE_AssignedResources.isExternalResource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AR_in_ExternalARList</targetReference>
            </connector>
            <label>Is ExternalResource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SAList</name>
        <label>Check SAList</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_SA</targetReference>
            </connector>
            <label>Has SA</label>
        </rules>
    </decisions>
    <description>Ordre d&apos;exécution - Flux exécuté lorsqu&apos;une facture/avoir est alimenté sur la demande de RDV pour calculer le cout standard estimé sur chaque ressources externe</description>
    <formulas>
        <name>CostAmountByResource</name>
        <dataType>Currency</dataType>
        <expression>ROUND( {!WorkOrderCostAmount} / {!NumberOfExternalResources}, 2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WorkOrderCostAmount</name>
        <dataType>Currency</dataType>
        <expression>ROUND(
(NULLVALUE( {!$Record.invoicesPretaxAmountSum__c} , 0) - NULLVALUE( {!$Record.creditMemosPretaxAmountSum__c}, 0)) * {!CostPercent}, 2
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>WorkOrder - After Trigger - Calcul cout standard des ressources externes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder - After Trigger - Calcul cout standard des ressources externes</label>
    <loops>
        <name>FE_AssignedResources</name>
        <label>For each AssignedResources</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_All_AssignedResource.records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_ExternalResource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FE_ExternalResources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_ExternalResources</name>
        <label>For each ExternalResources</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <collectionReference>ExternalARList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_StandardCost_on_AR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FE_SA</name>
        <label>For each SA</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_in_SAIdsList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_AssignedResource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_SA</name>
        <label>Get All SA</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SAList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AR</name>
        <label>Update AR</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <inputReference>ARToUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_SA</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ARToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>ExternalARList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>NumberOfExternalResources</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SAIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
