force-app/main/default/flows/WorkOrder_reinit_subWorkType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>initSubWorkType</name>
        <label>initSubWorkType</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <actionName>IV_InitSubWorkType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setSubWorkType</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>casesIdList</name>
            <value>
                <elementReference>ListCasesIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>commandeId</name>
            <value>
                <elementReference>commandeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workTypeName</name>
            <value>
                <elementReference>Get_Work_Order.WorkType.Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>subWorkType</assignToReference>
            <name>subWorkType</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>setCommandId</name>
        <label>Attribution de l&apos;Id de commande</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>commandeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.customerOrder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachWOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLists</name>
        <label>setLists</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ListCasesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEachWOLI.productNonCompliance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachWOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSubWorkType</name>
        <label>setSubWorkType</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Work_Order.subWorkType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subWorkType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maj_workOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_there_a_WOLI</name>
        <label>is there a WOLI?</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>setCommandId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>NoWOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_WorkOrderLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>testt</targetReference>
            </connector>
            <label>NoWOLI</label>
        </rules>
    </decisions>
    <interviewLabel>Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder - Recalcul du Sous-type d&apos;activité</label>
    <loops>
        <name>forEachWOLI</name>
        <label>Pour chaque élément de demande de rdv</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>get_WorkOrderLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setLists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>initSubWorkType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_WorkOrderLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WorkOrderLineItem</name>
        <label>get Work Order Line Item</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_there_a_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Maj_workOrder</name>
        <label>Maj workOrder</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputReference>Get_Work_Order</inputReference>
    </recordUpdates>
    <screens>
        <name>End</name>
        <label>Fin du flux</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>newSubWorkTypeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Nouveaux &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Sous-type d&apos;activité calculé : &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 132, 255); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!subWorkType}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>testt</name>
        <label>test</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noWoliText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(243, 243, 243); font-size: 16px; color: rgb(238, 72, 0);&quot;&gt;/!\ Il n&apos;y a pas d&apos;éléments de demande de rendez-vous liés a cette demande de rendez-vous&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>commandeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListAssetsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListCasesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subWorkType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
