force-app/main/default/flows/WorkOrder_Before_Trigger_Alimentation_du_numero_de_la_demande_par_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Increment</name>
        <label>Increment</label>
        <locationX>534</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>NumberOfWorkOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FE_WorkOrderList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CustomerOrder_Or_WorkSite</name>
        <label>Check CustomerOrder Or WorkSite</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_CustomerOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.customerOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_WorkOrders_CustomerOrder</targetReference>
            </connector>
            <label>Has CustomerOrder</label>
        </rules>
        <rules>
            <name>Has_WorkSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.chantier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.customerOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_WorkOrders_WorkSite</targetReference>
            </connector>
            <label>Has WorkSite</label>
        </rules>
        <rules>
            <name>Has_ContratK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContratK__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.customerOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_WorkOrders_ContratK</targetReference>
            </connector>
            <label>Has ContratK</label>
        </rules>
    </decisions>
    <description>Demande de rendez-vous - Alimentation du champ workOrderNumberByType__c</description>
    <interviewLabel>WorkOrder - Before Trigger - Alimentation du numéro de la demande par type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder - Before Trigger - Alimentation du numéro de la demande par type</label>
    <loops>
        <name>FE_WorkOrderList</name>
        <label>For earch WorkOrderList</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <collectionReference>WorkOrderList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WorkOrder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_WorkOrders_ContratK</name>
        <label>Get All WorkOrders / ContratK</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_WorkOrderList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContratK__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContratK__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_WorkOrders_CustomerOrder</name>
        <label>Get All WorkOrders / CustomerOrder</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_WorkOrderList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>customerOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.customerOrder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_WorkOrders_WorkSite</name>
        <label>Get All WorkOrders / WorkSite</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FE_WorkOrderList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chantier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.chantier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WorkOrder</name>
        <label>Update WorkOrder</label>
        <locationX>446</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>workOrderNumberByType__c</field>
            <value>
                <elementReference>NumberOfWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CustomerOrder_Or_WorkSite</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberOfWorkOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
